<template>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <label>Customer</label>
                    <select class="form-control-sm" v-model="selectVal">
                        <option v-for="company in companies" v-bind:value="company.id">{{company.name}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>From</label>
                    <input v-model="fromDate" class="form-control-sm" type="date"/>
                </div>
                <div class="col-md-3">
                    <label>To</label>
                    <input v-model="toDate" class="form-control-sm" type="date"/>
                </div>
                <div class="col-md-2">
                    <button @click="dateSearch" class="btn btn-primary btn-sm">Go</button>
                </div>

            </div>
        </div>
        <!-- <div v-show="!newFilter.payments.length>0" class="col-md-12 text-center">
                <h1>No Information</h1>
        </div> -->
       
        <div  class="col-md-12">
            <div class="row" style="padding-top:10px" >
                    <div class="col-md-6">
                        Opening Type : <strong>{{this.mynew?this.mynew.stats.openingType:'NA'}} </strong>
                    </div>

                    <div class="col-md-6">
                        Opening Balance : <strong>{{this.mynew?this.mynew.stats.openingAmount:'NA'}}</strong>
                    </div>
            </div>

                <div class="row" style="padding-top:10px" >
                    <div class="col-md-6">
                        Opening Date : <strong>{{this.mynew?this.mynew.stats.balanceDate:'NA'}} </strong>
                    </div>

                    <div class="col-md-6">
                        Balance Limit : <strong>{{this.mynew?this.mynew.stats.balanceLimit:'NA'}}</strong>
                    </div>
            </div>
                    
            <div class="table-responsive table-responsive-data2">
                <table id="tableID" class="table table-data2">
                    <thead style="text-align: center!important">
                        <tr>
                            <th v-for="column in columns">{{column}}</th>
                        </tr>
                    </thead>
                    
                    <tbody style="text-align: center!important">
                       
                        <template v-for="(item,index) in newFilter.payments" >
                            <tr v-if="item.Type==='monthEnd'" class="blue">
                                    <td>{{index+1}}</td>
                            <td>Total in</td>
                            <td></td>
                            <td>{{getMonthName(item.month)}}</td>
                            <td>{{item.monthDebit.toLocaleString('en')}}</td>
                            <td>{{item.monthCredit.toLocaleString('en')}}</td>
                            <td></td>


                        </tr> 
                            <template v-if="item.Type==='finalMonthEnd'">  
                                <tr class="blue">
                                    <td>{{index+1}}</td>
                            <td>Total in</td>
                            
                            <td></td>
                            <td>{{getMonthName(item.month)}}</td>
                            <td>{{item.monthDebit.toLocaleString('en')}}</td>
                            <td>{{item.monthCredit.toLocaleString('en')}}</td>
                            <td></td>


                        </tr> 
                        <tr   class='blue'>
                            <td></td>
                            <td>Total after</td>
                            
                            <td></td>
                            
                            <!-- <td>{{item.comments?item.comments:'NA'}}</td> -->
                            <td>{{getMonthName(item.month)}}</td>

                            <td>{{item.debitAmount?item.debitAmount.toLocaleString('en'):''}}</td>
                             <td>{{item.creditAmount.toLocaleString('en')}}</td>
                            <td>{{Math.abs(item.balance).toLocaleString('en')}} ({{(item.balance) > 1 ?'Cr':'Db'}})</td> 
                        </tr>
                        

                        
                        </template>
                        <tr v-if="item.Type!=='monthEnd' && item.Type!=='finalMonthEnd'" :id="item.id">
                           <td> {{index+1}}</td>
                            <td><a target="_blank" :href="'/admin/'+getTypeUrl(item.Type)+'/'+item.id">{{item.id}}</a></td>
                            <td>{{item.date? parseDate(new Date(item.date)):'NA'}}</td>
                           
                            <!-- <td>{{item.comments?item.comments:'NA'}}</td> -->
                            <td>{{getType(item.Type)}}</td>

                            <td>{{item.debitAmount?item.debitAmount.toLocaleString('en'):''}}</td>
                             <td>{{item.Type==='salesInvoice'?'':(item.creditAmount?item.creditAmount.toLocaleString('en'):'')}}</td>
                            
                            <td>{{item.Type==='salesInvoice'?Math.abs(item.balance-item.creditAmount).toLocaleString('en'):Math.abs(item.balance).toLocaleString('en')}} ({{item.Type==='salesInvoice'?(item.balance-item.creditAmount > 1 ?'Cr':'Db'):(item.balance> 1 ?'Cr':'Db')}})</td> 
                        </tr>
                        <tr v-if="item.Type==='salesInvoice'">
                            <td></td>
                            <td><a target="_blank" :href="'/admin/'+getTypeUrl(item.Type)+'/'+item.id">{{item.id}}</a></td>
                            <td>{{item.date? parseDate(new Date(item.date)):'NA'}}</td>
                            
                           
                            <td>Cash Received in Bill</td>

                            <td></td>
                             <td>{{item.creditAmount.toLocaleString('en')  }}</td>
                            
                            <td>{{Math.abs(item.balance).toLocaleString('en')}} ({{item.balance > 1 ?'Cr':'Db'}})</td>
                        </tr>
                        </template>
                       
                        
                    </tbody>
                    
                </table>

                <div class="row" style="padding-top:10px" >
                            <div class="col-md-12">
                               Total Credit : <strong>{{this.mynew.stats.mmainCredit.toLocaleString('en')}} \-</strong>
                            </div>
                </div>
                <div class="row" style="padding-top:10px" >
                            <div class="col-md-12">
                               Total Debit : <strong>{{this.mynew.stats.mmainDebit.toLocaleString('en')}} \-</strong>
                            </div>
                </div>

                <!-- <div class="row" style="padding-top:10px" >
                            <div class="col-md-12">
                               Total Balance Final : <strong>{{this.mynew.stats.balance}} \-</strong>
                            </div>
                </div> -->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CustTable",
        props:['columns','dataarray'],
        data(){
            return{
                arrayEmpty:false,
                fromDate:null,
                toDate:null,
                selectVal:-1,
                companies:'',
                selectedArray:[],
                mynew:null,
                openingBalance:{}

            }
        },
        beforeCreate(){
            axios.get('/admin/getCust')
                .then(response=>{
                    //console.log(response.data);
                    this.companies=response.data;
                    this.companies.unshift({
                        id:0,
                        name:'Walking Customer'
                    })

                })
                .catch(e=>console.log(e));

        },
        computed: {

            newFilter:function(){
                    if(!this.fromDate || !this.toDate) {
                            let tempArray=this.dataarray.filter((item) => {
                                return item.owner_id == this.selectVal;
                            });
                            //console.log(tempArray);
                            return this.calcResult([],tempArray,[]);
                        }
                    let from=new Date(this.fromDate);
                    let to= new Date(this.toDate);
                    let mainArray= this.dataarray.filter((item) => {
                    return (item.owner_id == this.selectVal &&
                        new Date(item.date).getTime()>=from.getTime() && new Date(item.date).getTime()<=to.getTime()

                        );
                    });

                    let prev_array=this.dataarray.filter((item) => {
                    return (item.owner_id == this.selectVal &&
                        new Date(item.date).getTime()<from.getTime());
                    });

                    let after_array=this.dataarray.filter((item) => {
                    return (item.owner_id == this.selectVal &&
                        new Date(item.date).getTime()>to.getTime());
                    });

                    return this.calcResult(prev_array,mainArray,after_array)


                }
            


        },
        methods:{

            getMonthName(number){
                let month=[];
                month[0] = "January";
                month[1] = "February";
                month[2] = "March";
                month[3] = "April";
                month[4] = "May";
                month[5] = "June";
                month[6] = "July";
                month[7] = "August";
                month[8] = "September";
                month[9] = "October";
                month[10] = "November";
                month[11] = "December";
                return month[number];

            }
            ,

            getType(text){
                if(text==='salesInvoice')
                    return 'Sales Invoice'
                else if(text==='salesReturn')
                    return 'Sales Return'
                    else if(text==='purchaseReturn')
                    return 'Purchase Return';
                    else if(text==='salesReturnPayment')
                        return 'Sales Return Payment';
                        else if(text==='orderBooking')
                        return 'Order Booking';
                else return 'Payments';
            },
             getTypeUrl(text){
                if(text==='salesInvoice')
                    return 'sales_invoice'
                else if(text==='salesReturn')
                    return 'sales_return'
                 else if(text==='purchaseReturn')
                    return 'purchase_return' 
                    else if(text==='purchaseInvoice')
                    return 'purchase_return'
                else if(text==='salesReturnPayment')
                    return 'customer_payment';
                    else if(text==='orderBooking')
                    return 'order_booking';
                else return 'customer_payment';
            },
            dateSearch(){
                console.log('Called');
                if(!this.fromDate || !this.toDate)
                    return;
                else{
                    let from=new Date(this.fromDate);
                    let to=new Date(this.fromDate);
                    console.log('From '+ from +" To "+to);
                    return this.selectedArray.filter((item) => {
                        return (item.owner_id == this.selectVal &&
                            item.date>=from && item.date<=to

                        );
                    })
                }
            },

            parseDate(date){
                let month=date.getMonth()+1;
                return date.getDate()+('-')+month+'-'+date.getFullYear();
            }

            ,

            calcResult(prev_array,main_array,after_array){
                let balance=0;
                let prevCredit=0;
                let prevDebit=0;
                let openingAmount=0;
                let openingType="";
                let balanceDate='';
                let balanceLimit='';
                let currentMonth=null;
                let monthCredit=0;
                let monthDebit=0;
                
                for(let enry in this.companies ){
                    let entry=this.companies[enry];
                    if(entry.id==this.selectVal){
                        if(entry.balance_type==1){
                            openingAmount=entry.balance_amount;
                            openingType='Credit'
                            prevCredit=openingAmount;
                            balance+=openingAmount
                            //console.log(`Balance is ${balance}`);
                            if(entry.balance_limit)
                                balanceLimit=entry.balance_limit
                            if(entry.balance_date){
                                balanceDate=entry.balance_date
                                //currentMonth=new Date(entry.balance_date).getMonth();
                                //monthCredit+=openingAmount;
                            }
                        }
                        else{
                             openingAmount=entry.balance_amount;
                            openingType='Debit';
                            prevDebit=openingAmount;
                            balance-=openingAmount;
                            if(entry.balance_limit)
                                balanceLimit=entry.balance_limit
                            if(entry.balance_date){
                                balanceDate=entry.balance_date
                                //currentMonth=new Date(entry.balance_date).getMonth();
                            }
                            //console.log(`Balance is ${balance}`);
                            //monthDebit+=openingAmount;
                        }
                        break;
                    }
                        
                }

                if(!openingAmount){
                    openingAmount=0;
                    prevDebit=0;
                    balance=0;
                    monthCredit=0;
                    monthDebit=0;
                }

                
               
               
                
                if(prev_array.length>0){
                    for(let enry in prev_array){
                        let entry=prev_array[enry]
                        // if(currentMonth!=new Date(entry.date).getMonth()){
                        //     currentMonth=new Date(entry.date).getMonth();
                        //     monthCredit=0;
                        //     monthDebit=0;
                        // }
                        if(entry.Type==='salesInvoice'){
                            
                            prevDebit+=entry.total_price;
                            prevCredit+=entry.paid_amount;
                            balance+=prevCredit;
                            balance-=prevDebit;

                            //Month Additions
                            // monthDebit+=entry.total_price;
                            // monthCredit+=entry.paid_amount;
                            
                        }
                       else if(entry.Type==='salesReturn'){
                           if(!entry.paid_amount)
                                entry.paid_amount=0;
                            mainCredit+=entry.total_price;
                            console.log('ENtry Total price is '+ entry.total_price);
                            //mainDebit+=entry.paid_amount;
                            mmainCredit+=entry.total_price;
                            //mmainDebit+=entry.paid_amount;
                            entry.creditAmount=entry.total_price;
                            entry.debitAmount=0;
                            balance+=entry.creditAmount;
                            //balance-=entry.debitAmount;
                            entry.balance=balance;

                            //Month Additions
                            //monthCredit+=entry.total_price;
                        }
                        else if(entry.Type==='salesReturnPayment'){
                           if(!entry.paid_amount)
                                entry.paid_amount=0;
                            //mainCredit+=entry.total_price;
                            mainDebit+=entry.amount;
                            //mmainCredit+=entry.total_price;
                            mmainDebit+=entry.amount;
                            entry.creditAmount=0;
                            entry.debitAmount=entry.amount;
                            //balance+=entry.creditAmount;
                            balance-=entry.debitAmount;
                            entry.balance=balance;


                            //Month Additions
                            //monthDebit+=entry.amount;
                        }
                        else if(entry.Type==='orderBooking'){
                            mainCredit+=entry.advance;
                            //mainCredit+=entry.advance;
                            mmainCredit+=entry.advance;
                            
                            //mmainDebit+=entry.amount;
                            entry.creditAmount=entry.advance;
                            entry.debitAmount=0;
                            //balance+=entry.creditAmount;
                            balance+=entry.advance;
                            entry.balance=balance;

                            //Month Additions
                            //monthCredit+=entry.advance;
                        }


                        else if (entry.Type==='payments'){
                            if(entry.type==='credit'){
                                if(entry.pay_later==0){
                                    prevCredit+=entry.amount;
                                    balance+=entry.amount;

                                    //monthCredit+=entry.amount;
                                }
                                else{
                                    prevDebit+=entry.amount;
                                    balance-=entry.amount;

                                    //monthDebit+=entry.amount;
                                }
                            }
                            else{
                                if(entry.pay_later==0){
                                    prevDebit+=entry.amount;
                                    balance-=entry.amount;

                                    //monthDebit+=entry.amount;
                                }
                                else{
                                    prevCredit+=entry.amount;
                                    balance+=entry.amount;

                                    //monthCredit+=entry.amount;
                                }
                            }

                        }
                    }
                }
                //  console.log(`Prev Debit ${prevDebit}`);
                // console.log(`Prev Credit ${prevCredit}`);
                // console.log(`Balance is ${balance}`);
                let mainCredit=prevCredit;
                let mainDebit=prevDebit;
                let mmainDebit=0;
                let mmainCredit=0;
                if(main_array.length>0){
                    currentMonth=new Date(main_array[0].date).getMonth();
                }
                
                console.log(`Main Array Length : ${main_array.length}`)
                //console.log(JSON.stringify(main_array));
                for(let enry =0;enry<main_array.length;enry++){
                   
                    // Date Logics
                      let entry=main_array[enry];
                    //  console.log(`Entry #${enry} : `);
                     if(entry.Type==='monthEnd' || entry.Type==='finalMonthEnd'){
                        continue;
                        
                      
                     }
                     //console.log(JSON.stringify(entry));
                    //  if(!currentMonth){
                    //     currentMonth=new Date(entry.date).getMonth();
                    // }
                    if(new Date(entry.date).getMonth()!=currentMonth){
                            let monthObj={
                                balance:main_array[enry-1].balance,
                                creditAmount:mainCredit,
                                debitAmount:mainDebit,
                                creditamount:main_array[enry-1].creditAmount,
                                debitamount:main_array[enry-1].debitAmount,
                                Type:'monthEnd',
                                month:currentMonth,
                                monthCredit:monthCredit,
                                monthDebit:monthDebit
                            }
                            main_array.splice(enry,0,monthObj);
                            currentMonth=new Date(entry.date).getMonth();
                            monthCredit=0;
                            monthDebit=0;
                             //enry++;
                            // entry=main_array[enry];
                            continue;
                    }

                    entry.creditAmount=0;
                    entry.debitAmount=0;
                    if(entry.Type==='salesInvoice'){
                            
                            if(!entry.paid_amount)
                                entry.paid_amount=0;
                            mainDebit+=entry.total_price;
                            mainCredit+=entry.paid_amount;

                            mmainDebit+=entry.total_price;
                            mmainCredit+=entry.paid_amount;

                            //entry.creditAmount=entry.paid_amount;
                            entry.creditAmount=entry.paid_amount;
                            entry.debitAmount=entry.total_price;
                            balance+=entry.creditAmount;
                            balance-=entry.debitAmount;
                            entry.balance=balance;

                             //Month Additions
                            monthDebit+=entry.total_price;
                            monthCredit+=entry.paid_amount;
                            
                            
                        }
                       else if(entry.Type==='salesReturn'){
                           if(!entry.paid_amount)
                                entry.paid_amount=0;
                            mainCredit+=entry.total_price;
                            
                            //mainDebit+=entry.paid_amount;
                            mmainCredit+=entry.total_price;
                            //mmainDebit+=entry.paid_amount;
                            entry.creditAmount=entry.total_price;
                            entry.debitAmount=0;
                            balance+=entry.creditAmount;
                            //balance-=entry.debitAmount;
                            entry.balance=balance;
                            



                            //Month Additions
                            monthCredit+=entry.total_price;
                        }
                        else if(entry.Type==='salesReturnPayment'){
                           if(!entry.paid_amount)
                                entry.paid_amount=0;
                            //mainCredit+=entry.total_price;
                            mainDebit+=entry.amount;
                            //mmainCredit+=entry.total_price;
                            mmainDebit+=entry.amount;
                            entry.creditAmount=0;
                            entry.debitAmount=entry.amount;
                            //balance+=entry.creditAmount;
                            balance-=entry.debitAmount;
                            entry.balance=balance;


                            //Month Additions
                            monthDebit+=entry.amount;
                        }
                        else if(entry.Type==='orderBooking'){
                            mainCredit+=entry.advance;
                            mmainCredit+=entry.advance;
                            entry.creditAmount=entry.advance;
                            entry.debitAmount=0;
                            balance+=entry.advance;
                            entry.balance=balance;
                           

                            monthCredit+=entry.advance;
                        }

                       

                        else if (entry.Type==='payments'){
                            if(entry.type==='credit'){
                                if(entry.pay_later==0){
                                    mainCredit+=entry.amount;
                                    mmainCredit+=entry.amount;
                                    entry.creditAmount=entry.amount;
                                    balance+=entry.amount;
                                    entry.balance=balance;
                                    //Month Additions
                                    monthCredit+=entry.amount;
                                }
                                else{
                                    mainDebit+=entry.amount;
                                    mmainDebit+=entry.amount;
                                    entry.debitAmount=entry.amount;
                                    balance-=entry.amount;
                                    entry.balance=balance;

                                    //Month Additions
                                    monthDebit+=entry.amount;
                                }
                            }
                            else{
                                if(entry.pay_later==0){
                                    mainDebit+=entry.amount;
                                    mmainDebit+=entry.amount;
                                    entry.debitAmount=entry.amount;
                                    balance-=entry.amount;
                                    entry.balance=balance;

                                    //Month Additions
                                    monthDebit+=entry.amount;
                                }
                                else{
                                    mainCredit+=entry.amount;
                                    mmainCredit+=entry.amount;
                                    entry.creditAmount=entry.amount;
                                    balance+=entry.amount;
                                    entry.balance=balance;


                                    //Month Additions
                                    monthCredit+=entry.amount;
                                }
                            }

                        }
                        else{
                            continue;
                        }

                        if(enry==(main_array.length-1)){
                            
                        let monthObj={
                                balance:balance,
                                debitAmount:mainDebit,
                                creditAmount:mainCredit,
                                Type:'finalMonthEnd',
                                debitamount:entry.debitAmount,
                                creditamount:entry.creditAmount,
                                month:currentMonth,
                                monthCredit:monthCredit,
                                monthDebit:monthDebit
                            };
                            main_array.push(monthObj);
                            
                    }

                        
                }
                 
                let afterCredit=mainCredit;
                let afterDebit=mainDebit;
                if(after_array.length>0){
                    
                    for(let enry in after_array){
                        let entry=after_array[enry]
                        if(entry.Type==='salesInvoice'){
                            afterDebit+=entry.total_price;
                            afterCredit+=entry.paid_amount;
                            balance+=afterCredit;
                            balance-=afterDebit;
                        }
                       else if(entry.Type==='salesReturn'){
                           if(!entry.paid_amount)
                                entry.paid_amount=0;
                            mainCredit+=entry.total_price;
                            console.log('ENtry Total price is '+ entry.total_price);
                            //mainDebit+=entry.paid_amount;
                            mmainCredit+=entry.total_price;
                            //mmainDebit+=entry.paid_amount;
                            entry.creditAmount=entry.total_price;
                            entry.debitAmount=0;
                            balance+=entry.creditAmount;
                            //balance-=entry.debitAmount;
                            entry.balance=balance;
                        }
                        else if(entry.Type==='salesReturnPayment'){
                           if(!entry.paid_amount)
                                entry.paid_amount=0;
                            //mainCredit+=entry.total_price;
                            mainDebit+=entry.amount;
                            //mmainCredit+=entry.total_price;
                            mmainDebit+=entry.amount;
                            entry.creditAmount=0;
                            entry.debitAmount=entry.amount;
                            //balance+=entry.creditAmount;
                            balance-=entry.debitAmount;
                            entry.balance=balance;
                        }
                        else if(entry.Type==='orderBooking'){
                            mainCredit+=entry.advance;
                            //mainCredit+=entry.advance;
                            mmainCredit+=entry.advance;
                            
                            //mmainDebit+=entry.amount;
                            entry.creditAmount=entry.advance;
                            entry.debitAmount=0;
                            //balance+=entry.creditAmount;
                            balance+=entry.advance;
                            entry.balance=balance;
                        }


                        else if (entry.Type==='payments'){
                            if(entry.type==='credit'){
                                if(entry.pay_later==0){
                                    afterCredit+=entry.amount;
                                    balance+=entry.amount;
                                }
                                else{
                                    afterDebit+=entry.amount;
                                    balance-=entry.amount;
                                }
                            }
                            else{
                                if(entry.pay_later==0){
                                    afterDebit+=entry.amount;
                                    balance-=entry.amount;
                                }
                                else{
                                    afterCredit+=entry.amount;
                                    balance+=entry.amount;
                                }
                            }

                        }
                    }
                }

                var obj=new Object;
                obj.prevCredit=prevCredit;
                obj.prevDebit=prevDebit;
                obj.mainCredit=mainCredit;
                obj.mainDebit=mainDebit;
                obj.mmainCredit=mmainCredit;
                obj.mmainDebit=mmainDebit;
                
                obj.afterCredit=afterCredit;
                obj.afterDebit=afterDebit;
                obj.openingType=openingType;
                obj.openingAmount=openingAmount;
                obj.balance=-1*balance;
                obj.balanceLimit=balanceLimit;
                obj.balanceDate=balanceDate;
                
                var mainObj=new Object;
                mainObj.stats=obj;
                mainObj.payments=main_array;
                 mainObj.payments.forEach(element => {
                     if(element.Type == 'monthEnd')
                        console.log('main Obj', element)
                });
                
                return this.mynew=mainObj;

            }

        }
    }
</script>

<style scoped>
.blue{
    background: #0056b3;
}
.blue td{
    color:white !important;
}


</style>