<template>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <!-- <div class="col-md-3">
                    <label>From</label>
                    <input v-model="fromDate" class="form-control-sm" type="date"/>
                </div> -->
                <div class="col-md-3">
                    <label>On Date</label>
                    <input v-model="toDate" class="form-control-sm" type="date"/>
                </div>
                <!-- <div class="col-md-1">
                    <button @click="reRender" class="btn btn-block btn-dark">Go</button>
                </div> -->
            </div>

        </div>

        <table v-show="companyData.length>0" id="companyTable" class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Company</th>
                    <th>Payable</th>
                    <th>Receivable</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="cd in companies">
                    <td style="display:none">  {{obj = companyFilter(cd.id)}}</td>
                    <td><a target="_blank" :href="'/admin/company/'+cd.id">{{cd.id}}</a></td>
                    <td>{{cd.name}}</td>
                    <td>{{calcPayable(obj.stats.balance).toLocaleString('en')}} /-</td>
                    <td>{{calcReciaveble(obj.stats.balance).toLocaleString('en')}} /-</td>
                    <td class="pay" style="display:none">{{calcPayable(obj.stats.balance)}}</td>
                     <td class="rec" style="display:none">{{calcReciaveble(obj.stats.balance)}}</td>
                    

                </tr>

                <tr class="blue">
                    <td colspan="2"></td>
                    <td>{{compPayTotal.toLocaleString('en')}}</td>
                    <td>{{compRecTotal.toLocaleString('en')}}</td>
            </tr>
            </tbody>
        </table>

        <hr>

        <table v-show="customerData.length>0" id="customerTable" class="table">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Customer</th>
                <th>Payable</th>
                <th>Receivable</th>
            </tr>
            </thead>

            <tbody>
                
            <tr v-for="cd in customers">

                 <td style="display:none">  {{obj = customerFilter(cd.id)}}</td>
                    <td><a target="_blank" :href="'/admin/customer/'+cd.id">{{cd.id}}</a></td>
                    <td>{{cd.name}}</td>
                    <td>{{calcPayable(obj.stats.balance).toLocaleString('en')}} /-</td>
                    <td>{{calcReciaveble(obj.stats.balance).toLocaleString('en')}} /-</td>
                    <td class="payC" style="display:none">{{calcPayable(obj.stats.balance)}}</td>
                     <td class="recC" style="display:none">{{calcReciaveble(obj.stats.balance)}}</td>
            </tr>

            <tr class="blue">
                <td colspan="2"></td>
                <td>{{this.custPayTotal.toLocaleString('en')}}</td>
                <td>{{this.custRecTotal.toLocaleString('en')}}</td>
            </tr>

            <tr class="black">
                <td colspan="2">Total</td>
                <td>{{this.payTotal.toLocaleString('en')}}</td>
                <td>{{this.recTotal.toLocaleString('en')}}</td>
            </tr>
            </tbody>
        </table>


    </div>
</template>

<script>
    export default {
        name: "ledgerTable",
        props:['customers','companies'],
        data(){
            return{
                arrayEmpty:false,
                fromDate:null,
                toDate:null,
                selectVal:-1,
                selectedArray:[],
                mynew:null,
                openingBalance:{},
                customerData:[],
                companyData:[],
                myComp:{stats:{}},
                myCust:{},
                custPayTotal:0,
                custRecTotal:0,
                compPayTotal:0,
                compRecTotal:0,
                payTotal:0,
                recTotal:0,

            }
        },
        beforeCreate(){
            axios.get('/admin/getCol')
                .then(response=>{
                    console.log('Company Data');
                    console.log(response.data);
                    this.companyData=response.data;

                })
                .catch(e=>console.log(e));

            axios.get('/admin/getCul')
                .then(response=>{
                    //console.log(response.data);
                    this.customerData=response.data;

                })
                .catch(e=>console.log(e));

        },
        computed: {


        },

        watch: {
            
        },
                    updated: function () {
            this.$nextTick(function () {
                // Code that will run only after the
                    // entire view has been re-rendered
                    let paySum=0;
                    let recSum=0;
                   $('.pay').each(function(){
                       //console.log(parseInt($(this).html()));
                       paySum+=parseInt($(this).html());
                   })

                   $('.rec').each(function(){
                    //    console.log(parseInt($(this).html()));
                       recSum+=parseInt($(this).html());
                   })
                   this.compPayTotal=paySum;
                   this.compRecTotal=recSum;


                   let paySumC=0;
                    let recSumC=0;
                   $('.payC').each(function(){
                       //console.log(parseInt($(this).html()));
                       paySumC+=parseInt($(this).html());
                   })

                   $('.recC').each(function(){
                      // console.log(parseInt($(this).html()));
                       recSumC+=parseInt($(this).html());
                   })
                   this.custPayTotal=paySumC;
                   this.custRecTotal=recSumC;

                   this.payTotal=this.custPayTotal+this.compPayTotal;
                   this.recTotal=this.custRecTotal+this.compRecTotal;

            })
            }
        ,
        methods:{
            reRender(){
               
                    let tempComp=this.companies;
                    this.companies=null;
                     this.$nextTick(function () {
                          this.companies=tempComp;
                         
                     }
                
                     )},
            
            calcPayable(balance){
                if(balance<0)
                    return Math.abs(balance);
                else return 0;
            },
            calcReciaveble(balance){
                if(balance>0)
                    return balance;
                else return 0;
            }

            ,
            customerFilter:function(id){

                if(!this.toDate) {
                    let tempArray=this.customerData.filter((item) => {
                        return item.owner_id == id;
                    });
                    //console.log(tempArray);
                    return this.calcCustomerResult(id,[],tempArray,[]);
                }
                //let from=new Date(this.fromDate);
                let to= new Date(this.toDate);
                let mainArray= this.customerData.filter((item) => {
                    return (item.owner_id == id  && new Date(item.date).getTime()<=to.getTime()

                    );
                });

                // let prev_array=this.customerData.filter((item) => {
                //     return (item.owner_id == id &&
                //         new Date(item.date).getTime()<from.getTime());
                // });

                let after_array=this.customerData.filter((item) => {
                    return (item.owner_id == id &&
                        new Date(item.date).getTime()>to.getTime());
                });

                return this.myCust= this.calcCustomerResult(id,[],mainArray,after_array)
            },

            companyFilter:function(id){
                //console.log("ID is" + id);
                if(!this.toDate) {
                    let tempArray=this.companyData.filter((item) => {
                        return item.owner_id == id;
                    });
                    //console.log("Temp Array is");
                    //console.log(tempArray);
                    console.log(tempArray.length)
                   return this.calcCompanyResult(id,[],tempArray,[]);
                    
                   
                }
                console.log(this.toDate);
               
                let to= new Date(this.toDate);
                let mainArray= this.companyData.filter((item) => {
                    return (item.owner_id == id  && new Date(item.date).getTime()<=to.getTime()

                    );
                });

                // let prev_array=this.companyData.filter((item) => {
                //     return (item.owner_id == id &&
                //         new Date(item.date).getTime()<from.getTime());
                // });

                let after_array=this.companyData.filter((item) => {
                    return (item.owner_id == id &&
                        new Date(item.date).getTime()>to.getTime());
                });
                console.log(mainArray.length)
                return this.calcCompanyResult(id,[],mainArray,after_array);
               
                
            },

            getType(text){
                if(text==='salesInvoice')
                    return 'Sales Invoice'
                else if(text==='salesReturn')
                    return 'Sales Return'
                else return 'Payments';
            },
            getTypeUrl(text){
                if(text==='salesInvoice')
                    return 'sales_invoice'
                else if(text==='salesReturn')
                    return 'sales_return'
                else if(text==='purchaseReturn')
                    return 'purchase_return'
                else if(text==='purchaseInvoice')
                    return 'purchase_return'
                else return 'customer_payment';
            },
            dateSearch(){
                //console.log('Called');
                if(!this.fromDate || !this.toDate)
                    return;
                else{
                    let from=new Date(this.fromDate);
                    let to=new Date(this.fromDate);
                    //console.log('From '+ from +" To "+to);
                    return this.selectedArray.filter((item) => {
                        return (item.owner_id == this.selectVal &&
                            item.date>=from && item.date<=to

                        );
                    })
                }
            },

            parseDate(date){
                let month=date.getMonth()+1;
                return date.getDate()+('-')+month+'-'+date.getFullYear();
            }
            ,

            calcCompanyResult(id,prev_array,main_array,after_array){
                let balance=0;
                let prevCredit=0;
                let prevDebit=0;
                let openingAmount=0;
                let openingType="";
                let balanceDate='';
                let balanceLimit='';
                for(let enry in this.companies ){
                    let entry=this.companies[enry];
                    if(entry.id==id){
                        if(entry.balance_type==1){
                            openingAmount=entry.balance_amount;
                            openingType='Credit'
                            prevCredit=openingAmount;
                            balance+=openingAmount
                            if(entry.balance_limit)
                                balanceLimit=entry.balance_limit
                            if(entry.balance_date)
                                balanceDate=entry.balance_date
                        }
                        else{
                            openingAmount=entry.balance_amount;
                            openingType='Debit';
                            prevDebit=openingAmount;
                            balance-=openingAmount;
                            if(entry.balance_limit)
                                balanceLimit=entry.balance_limit
                            if(entry.balance_date)
                                balanceDate=entry.balance_date
                        }
                        break;
                    }

                }

                if(!prevDebit)
                    prevDebit=0;
                if(!prevCredit)
                    prevCredit=0;


                if(prev_array.length>0){
                    for(let enry in prev_array){
                        let entry=prev_array[enry]
                        if(entry.type==='debit'){
                            prevDebit+=entry.amount;
                            balance-=entry.amount;
                        }
                        else{ prevCredit+=entry.amount;balance+=entry.amount;}
                    }
                }
                let mainCredit=prevCredit;
                let mainDebit=prevDebit;
                for(let enry in main_array){
                    let entry=main_array[enry];
                    entry.creditAmount=0;
                    entry.debitAmount=0;
                    if(entry.type==='credit')
                    {
                        entry.creditAmount=entry.amount;
                        entry.debitAmount='';
                        mainCredit+=entry.amount;
                        balance+=entry.amount;
                        entry.balance=balance;
                    }
                    else {
                        entry.debitAmount=entry.amount;
                        entry.creditAmount='';
                        mainDebit+=entry.amount;
                        balance-=entry.amount;
                        entry.balance=balance;

                    }
                }
                let afterCredit=mainCredit;
                let afterDebit=mainDebit;
                // if(after_array.length>0){

                //     for(let enry in after_array){
                //         let entry=after_array[enry]
                //         if(entry.type==='debit')
                //         {afterDebit+=entry.amount;balance-=entry.amount}
                //         else {afterCredit+=entry.amount;balance+=entry.amount}
                //     }
                // }

                var obj=new Object;
                obj.prevCredit=prevCredit;
                obj.prevDebit=prevDebit;
                obj.mainCredit=mainCredit;
                obj.mainDebit=mainDebit;

                obj.afterCredit=afterCredit;
                obj.afterDebit=afterDebit;
                obj.openingType=openingType;
                obj.openingAmount=openingAmount;
                obj.balance=-1*balance;
                obj.balanceLimit=balanceLimit;
                obj.balanceDate=balanceDate;

                var mainObj=new Object;
                mainObj.stats=obj;
                mainObj.payments=main_array;

                // this.compPayTotal+=this.calcPayable(balance);
                // this.compRecTotal+=this.calcReciaveble(balance); 
               
                return mainObj;
            }
            ,


            calcCustomerResult(id,prev_array,main_array,after_array){
                let balance=0;
                let prevCredit=0;
                let prevDebit=0;
                let openingAmount=0;
                let openingType="";
                let balanceDate='';
                let balanceLimit='';
                for(let enry in this.companies ){
                    let entry=this.companies[enry];
                    if(entry.id==id){
                        if(entry.balance_type==1){
                            openingAmount=entry.balance_amount;
                            openingType='Credit'
                            prevCredit=openingAmount;
                            balance+=openingAmount
                           // console.log(`Balance is ${balance}`);
                            if(entry.balance_limit)
                                balanceLimit=entry.balance_limit
                            if(entry.balance_date)
                                balanceDate=entry.balance_date
                        }
                        else{
                            openingAmount=entry.balance_amount;
                            openingType='Debit';
                            prevDebit=openingAmount;
                            balance-=openingAmount;
                            if(entry.balance_limit)
                                balanceLimit=entry.balance_limit
                            if(entry.balance_date)
                                balanceDate=entry.balance_date
                            //console.log(`Balance is ${balance}`);
                        }
                        break;
                    }

                }

                if(!openingAmount){
                    openingAmount=0;
                    prevDebit=0;
                    balance=0;
                }



                if(prev_array.length>0){
                    for(let enry in prev_array){
                        let entry=prev_array[enry]
                        if(entry.Type==='salesInvoice'){
                            prevDebit+=entry.total_price;
                            prevCredit+=entry.paid_amount;
                            balance+=prevCredit;
                            balance-=prevDebit;
                        }
                        else if(entry.Type==='salesReturn'){
                            prevCredit+=entry.total_price;
                            prevDebit+=entry.paid_amount;
                            balance+=prevCredit;
                            balance-=prevDebit;
                        }

                        else if (entry.Type==='payments'){
                            if(entry.type==='credit'){
                                if(entry.pay_later==0){
                                    prevCredit+=entry.amount;
                                    balance+=entry.amount;
                                }
                                else{
                                    prevDebit+=entry.amount;
                                    balance-=entry.amount;
                                }
                            }
                            else{
                                if(entry.pay_later==0){
                                    prevDebit+=entry.amount;
                                    balance-=entry.amount;
                                }
                                else{
                                    prevCredit+=entry.amount;
                                    balance+=entry.amount;
                                }
                            }

                        }
                    }
                }
                // console.log(`Prev Debit ${prevDebit}`);
                // console.log(`Prev Credit ${prevCredit}`);
                // console.log(`Balance is ${balance}`);
                let mainCredit=prevCredit;
                let mainDebit=prevDebit;
                let mmainDebit=0;
                let mmainCredit=0;
                //console.log(`Main Array Length : ${main_array.length}`)
                for(let enry in main_array){
                    let entry=main_array[enry];
                    entry.creditAmount=0;
                    entry.debitAmount=0;
                    if(entry.Type==='salesInvoice'){
                        if(!entry.paid_amount)
                            entry.paid_amount=0;
                        mainDebit+=entry.total_price;
                        mainCredit+=entry.paid_amount;

                        mmainDebit+=entry.total_price;
                        mmainCredit+=entry.paid_amount;

                        entry.creditAmount=entry.paid_amount;
                        entry.debitAmount=entry.total_price;
                        balance+=entry.creditAmount;
                        balance-=entry.debitAmount;
                        entry.balance=balance;
                    }
                    else if(entry.Type==='salesReturn'){
                        if(!entry.paid_amount)
                            entry.paid_amount=0;
                        mainCredit+=entry.total_price;
                        mainDebit+=entry.paid_amount;
                        mmainCredit+=entry.total_price;
                        mmainDebit+=entry.paid_amount;
                        entry.creditAmount=entry.total_price;
                        entry.debitAmount=entry.paid_amount;
                        balance+=entry.creditAmount;
                        balance-=entry.debitAmount;
                        entry.balance=balance;
                    }

                    else if (entry.Type==='payments'){
                        if(entry.type==='credit'){
                            if(entry.pay_later==0){
                                mainCredit+=entry.amount;
                                mmainCredit+=entry.amount;
                                entry.creditAmount=entry.amount;
                                balance+=entry.amount;
                                entry.balance=balance;
                            }
                            else{
                                mainDebit+=entry.amount;
                                mmainDebit+=entry.amount;
                                entry.debitAmount=entry.amount;
                                balance-=entry.amount;
                                entry.balance=balance;
                            }
                        }
                        else{
                            if(entry.pay_later==0){
                                mainDebit+=entry.amount;
                                mmainDebit+=entry.amount;
                                entry.debitAmount=entry.amount;
                                balance-=entry.amount;
                                entry.balance=balance;
                            }
                            else{
                                mainCredit+=entry.amount;
                                mmainCredit+=entry.amount;
                                entry.creditAmount=entry.amount;
                                balance+=entry.amount;
                                entry.balance=balance;
                            }
                        }

                    }
                }
                // console.log(`mmainCredit : ${mmainCredit}`);
                // console.log(`mmainDebit : ${mmainDebit}`);
                let afterCredit=mainCredit;
                let afterDebit=mainDebit;
                // if(after_array.length>0){

                //     for(let enry in after_array){
                //         let entry=after_array[enry]
                //         if(entry.Type==='salesInvoice'){
                //             afterDebit+=entry.total_price;
                //             afterCredit+=entry.paid_amount;
                //             balance+=afterCredit;
                //             balance-=afterDebit;
                //         }
                //         else if(entry.Type==='salesReturn'){
                //             afterCredit+=entry.total_price;
                //             afterDebit+=entry.paid_amount;
                //             balance+=afterCredit;
                //             balance-=afterDebit;
                //         }

                //         else if (entry.Type==='payments'){
                //             if(entry.type==='credit'){
                //                 if(entry.pay_later==0){
                //                     afterCredit+=entry.amount;
                //                     balance+=entry.amount;
                //                 }
                //                 else{
                //                     afterDebit+=entry.amount;
                //                     balance-=entry.amount;
                //                 }
                //             }
                //             else{
                //                 if(entry.pay_later==0){
                //                     afterDebit+=entry.amount;
                //                     balance-=entry.amount;
                //                 }
                //                 else{
                //                     afterCredit+=entry.amount;
                //                     balance+=entry.amount;
                //                 }
                //             }

                //         }
                //     }
                // }

                var obj=new Object;
                obj.prevCredit=prevCredit;
                obj.prevDebit=prevDebit;
                obj.mainCredit=mainCredit;
                obj.mainDebit=mainDebit;
                obj.mmainCredit=mmainCredit;
                obj.mmainDebit=mmainDebit;

                obj.afterCredit=afterCredit;
                obj.afterDebit=afterDebit;
                obj.openingType=openingType;
                obj.openingAmount=openingAmount;
                obj.balance=-1*balance;
                obj.balanceLimit=balanceLimit;
                obj.balanceDate=balanceDate;

                var mainObj=new Object;
                mainObj.stats=obj;
                mainObj.payments=main_array;
                // this.custPayTotal+=this.calcPayable(balance);
                // this.custRecTotal+=this.calcReciaveble(balance); 
                //console.log(mainObj);
                return mainObj;

            }

            ,

            calcResult(prev_array,main_array,after_array){
                let balance=0;
                let prevCredit=0;
                let prevDebit=0;
                let openingAmount=0;
                let openingType="";
                let balanceDate='';
                let balanceLimit='';
                for(let enry in this.companies ){
                    let entry=this.companies[enry];
                    if(entry.id==this.selectVal){
                        if(entry.balance_type==1){
                            openingAmount=entry.balance_amount;
                            openingType='Credit'
                            prevCredit=openingAmount;
                            balance+=openingAmount
                            //console.log(`Balance is ${balance}`);
                            if(entry.balance_limit)
                                balanceLimit=entry.balance_limit
                            if(entry.balance_date)
                                balanceDate=entry.balance_date
                        }
                        else{
                            openingAmount=entry.balance_amount;
                            openingType='Debit';
                            prevDebit=openingAmount;
                            balance-=openingAmount;
                            if(entry.balance_limit)
                                balanceLimit=entry.balance_limit
                            if(entry.balance_date)
                                balanceDate=entry.balance_date
                            //console.log(`Balance is ${balance}`);
                        }
                        break;
                    }

                }

                if(!openingAmount){
                    openingAmount=0;
                    prevDebit=0;
                    balance=0;
                }



                if(prev_array.length>0){
                    for(let enry in prev_array){
                        let entry=prev_array[enry]
                        if(entry.Type==='salesInvoice'){
                            prevDebit+=entry.total_price;
                            prevCredit+=entry.paid_amount;
                            balance+=prevCredit;
                            balance-=prevDebit;
                        }
                        else if(entry.Type==='salesReturn'){
                            prevCredit+=entry.total_price;
                            prevDebit+=entry.paid_amount;
                            balance+=prevCredit;
                            balance-=prevDebit;
                        }

                        else if (entry.Type==='payments'){
                            if(entry.type==='credit'){
                                if(entry.pay_later==0){
                                    prevCredit+=entry.amount;
                                    balance+=entry.amount;
                                }
                                else{
                                    prevDebit+=entry.amount;
                                    balance-=entry.amount;
                                }
                            }
                            else{
                                if(entry.pay_later==0){
                                    prevDebit+=entry.amount;
                                    balance-=entry.amount;
                                }
                                else{
                                    prevCredit+=entry.amount;
                                    balance+=entry.amount;
                                }
                            }

                        }
                    }
                }
                // console.log(`Prev Debit ${prevDebit}`);
                // console.log(`Prev Credit ${prevCredit}`);
                // console.log(`Balance is ${balance}`);
                let mainCredit=prevCredit;
                let mainDebit=prevDebit;
                let mmainDebit=0;
                let mmainCredit=0;
                //console.log(`Main Array Length : ${main_array.length}`)
                for(let enry in main_array){
                    let entry=main_array[enry];
                    entry.creditAmount=0;
                    entry.debitAmount=0;
                    if(entry.Type==='salesInvoice'){
                        if(!entry.paid_amount)
                            entry.paid_amount=0;
                        mainDebit+=entry.total_price;
                        mainCredit+=entry.paid_amount;

                        mmainDebit+=entry.total_price;
                        mmainCredit+=entry.paid_amount;

                        entry.creditAmount=entry.paid_amount;
                        entry.debitAmount=entry.total_price;
                        balance+=entry.creditAmount;
                        balance-=entry.debitAmount;
                        entry.balance=balance;
                    }
                    else if(entry.Type==='salesReturn'){
                        if(!entry.paid_amount)
                            entry.paid_amount=0;
                        mainCredit+=entry.total_price;
                        mainDebit+=entry.paid_amount;
                        mmainCredit+=entry.total_price;
                        mmainDebit+=entry.paid_amount;
                        entry.creditAmount=entry.total_price;
                        entry.debitAmount=entry.paid_amount;
                        balance+=entry.creditAmount;
                        balance-=entry.debitAmount;
                        entry.balance=balance;
                    }

                    else if (entry.Type==='payments'){
                        if(entry.type==='credit'){
                            if(entry.pay_later==0){
                                mainCredit+=entry.amount;
                                mmainCredit+=entry.amount;
                                entry.creditAmount=entry.amount;
                                balance+=entry.amount;
                                entry.balance=balance;
                            }
                            else{
                                mainDebit+=entry.amount;
                                mmainDebit+=entry.amount;
                                entry.debitAmount=entry.amount;
                                balance-=entry.amount;
                                entry.balance=balance;
                            }
                        }
                        else{
                            if(entry.pay_later==0){
                                mainDebit+=entry.amount;
                                mmainDebit+=entry.amount;
                                entry.debitAmount=entry.amount;
                                balance-=entry.amount;
                                entry.balance=balance;
                            }
                            else{
                                mainCredit+=entry.amount;
                                mmainCredit+=entry.amount;
                                entry.creditAmount=entry.amount;
                                balance+=entry.amount;
                                entry.balance=balance;
                            }
                        }

                    }
                }
                // console.log(`mmainCredit : ${mmainCredit}`);
                // console.log(`mmainDebit : ${mmainDebit}`);
                let afterCredit=mainCredit;
                let afterDebit=mainDebit;
                if(after_array.length>0){

                    for(let enry in after_array){
                        let entry=after_array[enry]
                        if(entry.Type==='salesInvoice'){
                            afterDebit+=entry.total_price;
                            afterCredit+=entry.paid_amount;
                            balance+=afterCredit;
                            balance-=afterDebit;
                        }
                        else if(entry.Type==='salesReturn'){
                            afterCredit+=entry.total_price;
                            afterDebit+=entry.paid_amount;
                            balance+=afterCredit;
                            balance-=afterDebit;
                        }

                        else if (entry.Type==='payments'){
                            if(entry.type==='credit'){
                                if(entry.pay_later==0){
                                    afterCredit+=entry.amount;
                                    balance+=entry.amount;
                                }
                                else{
                                    afterDebit+=entry.amount;
                                    balance-=entry.amount;
                                }
                            }
                            else{
                                if(entry.pay_later==0){
                                    afterDebit+=entry.amount;
                                    balance-=entry.amount;
                                }
                                else{
                                    afterCredit+=entry.amount;
                                    balance+=entry.amount;
                                }
                            }

                        }
                    }
                }

                var obj=new Object;
                obj.prevCredit=prevCredit;
                obj.prevDebit=prevDebit;
                obj.mainCredit=mainCredit;
                obj.mainDebit=mainDebit;
                obj.mmainCredit=mmainCredit;
                obj.mmainDebit=mmainDebit;

                obj.afterCredit=afterCredit;
                obj.afterDebit=afterDebit;
                obj.openingType=openingType;
                obj.openingAmount=openingAmount;
                obj.balance=balance;
                obj.balanceLimit=balanceLimit;
                obj.balanceDate=balanceDate;

                var mainObj=new Object;
                mainObj.stats=obj;
                mainObj.payments=main_array;
                //console.log(mainObj);
                return this.mynew=mainObj;

            }

        }
    }
</script>

<style scoped>

.blue{
    background: #0056b3;

}
    .blue td {
        color:white;
    }

    .black{
    background: black;

}
    .black td {
        color:white;
    }



</style>