<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-xs-1 custom-div">
                <select  class="form-control-sm" v-model="billOption" >
                    <option value="salesInvoice">Invoice</option>
                    <option value="orderBooking">Booking</option>
                    <option value="salesReturn">Return</option>
                </select>            </div>
            <!--<div class="col-md-1 col-xs-1 custom-div">
                <select @change="getPermCust" class="form-control-sm" v-model="customerOption" >
                    <option value="walking">Walking</option>
                    <option value="permanent">Permanent</option>
                </select>
            </div>-->
            <div style="margin-left: 24px;margin-right: 24px;" v-if="customersLoading" class="col-md-2 text-center">
                <beat-loader ></beat-loader>
            </div>
            <div style="margin-left: 24px;margin-right: 24px;" v-if="customerOption!=='walking'" class="col-md-2 col-xs-1 ">
                <select @change="getItemsAgain" class="form-control-sm" v-model.number="customerId" >
                    <option v-for="customer in customers" :value="customer.id">{{customer.name}}</option>
                </select>
            </div>
            <div  v-if="customerOption!=='walking'" class="col-md-2 col-xs-2 custom-div">
                <input @focus="$event.target.select()" @click="$event.target.select()" id="custName" placeholder="Customer Name" class="form-control-sm custom-form-control" v-model="customerName"  type="text">
            </div>
            <div v-if="customerOption!=='walking'" class="col-md-2 col-xs-2 custom-div">
                <input @focus="$event.target.select()" @click="$event.target.select()" id="custNumber"  placeholder="Customer Contact" class="form-control-sm custom-form-control" v-model.number="customerContact"  type="number">
            </div>

            <div class="col-md-2">
                <input id="date" v-model="date" class="form-control-sm custom-form-control" type="date">
            </div>
            <div class="col-md-1 col-xs-1 custom-div">
                <button v-shortkey="['ctrl', 'a']" @shortkey="showItems" @click="showItems" class="btn btn-sm btn-primary">
                    <i class="fa fa-plus"></i>
                    Add Item
                </button>
            </div>
            <div class="col-md-1 col-xs-1 custom-div">
                <div class="total text-center">
                    Net : {{total}} /-
                </div>
            </div>
            <div class="col-md-1 col-xs-1 custom-div">
                <button v-shortkey="['ctrl', 'alt','c']" @shortkey="openCheckout" @click="openCheckout" class="btn btn-sm btn-primary">

                    Checkout
                </button>
            </div>

        </div>
        <hr>

        <div id="tableDiv" class="row table-responsive ">
            <table class="table table-sm table-hover table-data2">
                <thead>
                    <tr>
                        <th>Quality</th>
                        <th>Item</th>
                        <th>Covered</th>
                        <th>Stock</th>
                        <th>Qty</th>
                        <th v-if="billOption==='salesReturn'">Return Type</th>
                        <th>Pack</th>
                        <th v-if="billOption!=='salesReturn'">Bon</th>
                        <th>Price</th>
                        <th>DIS(%)</th>
                        <th>Total</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="shadow" v-for="(item,index) in invoiceItems" v-bind:key="index">
                        <td>{{item.quality}}</td>
                        <td>{{item.name}}</td>
                        <td><select class="form-control-sm" v-model="item.covered">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select></td>
                        <td>{{item.stock}}</td>
                        <td><input :ref="`quantity${index}`" step="any" @keyup="calcTotal" min="1"  class="row-input text-center form-control-sm" v-model="item.quantity" type="number"></td>
                        <td v-if="billOption==='salesReturn'">
                            <select v-model="item.return_type">
                                <option value="amount">Amount</option>
                                <option value="quantity">Quantity</option>
                            </select>
                        </td>
                        <td>{{item.package_unit}}</td>
                        <td v-if="billOption!=='salesReturn'"><input @keyup="calcTotal" class="row-input text-center form-control-sm"  v-model="item.bonus" type="number"></td>
                        <td><input @keyup="calcTotal" class="row-input text-center form-control-sm" v-model="item.price" type="number"></td>
                        <td><input @keyup="calcTotal" class="row-input text-center form-control-sm" v-model="item.discount" type="number"></td>
                        <td><input @keyup="calcTotal" class="row-input text-center form-control-sm" v-model="item.total" type="number"></td>
                        <td><button @click="remItem(index)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <modal :scrollable="true" @closeed="modalClosed" @opened="modalOpened" height="auto" width="100%" :pivotX="0.1" :pivotY="0.1" name="items">
            <div v-if="itemsLoading" class="text-center"><beat-loader></beat-loader></div>
            <div  class="table-responsive table-borderless">
                <input @keydown.up="searchUp" @keydown.down="searchDown" autocomplete="off" autofocus  class="form-control" placeholder="Search" id="search" ref="search" v-model="search" type="text">
                <table class="table table-hover table-data2">
                    <thead>
                    <tr>
                        <th>Quality</th>
                        <th>Item</th>
                        <th>Covered</th>
                        <th>Price</th>
                        <th>Covered DIS(%)</th>
                        <th>Uncovered DIS(%</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr class="shadow" @keyup.enter="selectItem(index)"  v-bind:tabindex="`item${index}`"   v-for="(item,index) in getItems" :ref="`item${index}` "
                    :class="{highlighted:classBind(index)}"
                         @keydown.up="searchUp" @keydown.down="searchDown"
                        @click="selectItem(index)"

                    >
                        <td >{{item.quality}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.covered===0?'-':'C'}}</td>
                        <td>{{item.sale_price}}</td>
                        <td>{{item.covered_discount}}</td>
                        <td>{{item.uncovered_discount}}</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </modal>
        <modal ref="itemModal" @closed="search=''" @opened="checkoutOpened" width="70%" height="auto" name="checkout">
            <div class="card">
                <div class="card-header">Checkout</div>
                <div class="card-body">
                    <template v-if="billOption==='salesInvoice'">
                    <div class="row form-group">
                        <label class="col-md-2">Total</label>
                        <input readonly v-model.number="total"  class="form-control col-md-4" type="number">
                        <label class="col-md-2">Paid</label>
                        <input ref="paid" @keyup="calcTotal" v-model.number="paid" placeholder="Paid Amount" class="form-control col-md-4" type="number">
                    </div>
                    <div class="row form-group">
                        <label class="col-md-2">Given</label>
                        <input @keyup="calcTotal" v-model.number="given" placeholder="Given" class="form-control col-md-4" type="number">
                        <label class="col-md-2">Returned</label>
                        <input @keyup="calcTotal" v-model.number="returned" placeholder="Return" class="form-control col-md-4" type="number">
                    </div>
                    <div class="row form-group">
                        <label class="col-md-2">Discount</label>
                        <input @keyup="calcTotal" v-model.number="discount" placeholder="Amount" class="form-control col-md-4" type="number">
                        <label class="col-md-2">Remaining</label>
                        <input @keyup="calcTotal" v-model.number="rem" placeholder="Rem" class="form-control col-md-4" type="number">
                    </div>
                    <div class="row form-group">
                        <label  class="col-md-2">Pay Later</label>
                        <select v-model.number="payLater"  class="form-control col-md-10">
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                        <div class="row form-group">
                            <label class="col-md-2">Comments</label>
                            <input placeholder="(Optional...)"  v-model="orderComments"  class="form-control col-md-4" type="text">
                             <label  class="col-md-2">Print Size</label>
                             <select v-model="printSize"  class="form-control col-md-4">
                                <option value="a4">A4</option>
                                <option value="80">80</option>
                            </select>
                        </div>
                    </template>


                    <template v-if="billOption==='orderBooking'">
                        <div class="row form-group">
                            <label class="col-md-2">Total</label>
                            <input readonly v-model.number="total"  class="form-control col-md-4" type="number">

                            <label class="col-md-2">Discount</label>
                            <input ref="orderDiscount" @keyup="calcTotal" v-model="discount"  class="form-control col-md-4" type="number">
                        </div>

                        <div class="row form-group">
                            <label class="col-md-2">Advance</label>
                            <input ref="paid" @keyup="calcTotal" v-model.number="orderAdvance" placeholder="AdvanceAmount" class="form-control col-md-4" type="number">

                            <label class="col-md-2">Remaining</label>
                            <input readonly v-model.number="orderRemaining"  class="form-control col-md-4" type="number">

                        </div>

                        <div class="row form-group">
                            <label class="col-md-2">Delivery</label>
                            <input  v-model="orderDelivery"  class="form-control col-md-4" type="date">
                            <label class="col-md-2">Cleared</label>
                            <select v-model.number="orderCleared" class="form-control col-md-4">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>

                        </div>

                        <div class="row form-group">
                            <label class="col-md-2">Comments</label>
                            <input placeholder="optional"  v-model="orderComments"  class="form-control col-md-4" type="text">
                             <label  class="col-md-2">Print Size</label>
                             <select v-model="printSize"  class="form-control col-md-4">
                                <option value="a4">A4</option>
                                <option value="80">80</option>
                            </select>
                        </div>

                    </template>


                    <template v-if="billOption==='salesReturn'">
                        <div class="row form-group">
                            <label class="col-md-2">Total</label>
                            <input readonly v-model.number="total"  class="form-control col-md-4" type="number">
                            <label class="col-md-2">Paid</label>
                            <input  ref="given" @keyup="calcTotal" v-model.number="given" placeholder="Paid Amount" class="form-control col-md-4" type="number">
                        </div>



                        <div class="row form-group">
                            <label class="col-md-2">Returned</label>
                            <input readonly @keyup="calcTotal" v-model.number="returned" placeholder="Return" class="form-control col-md-4" type="number">
                            <label class="col-md-2">Invoice ID</label>
                            <input ref="invoiceId"  v-model.number="invoiceId" placeholder="Invoice ID" class="form-control col-md-4" type="number">


                        </div>

                        <div class="row form-group">
                            <label  class="col-md-2">Pay Later</label>
                            <select v-model.number="payLater"  class="form-control col-md-4">
                                <option value="1">Yes</option>
                                <option value="2">No</option>
                            </select>
                            <label class="col-md-2">Comments</label>
                            <input placeholder="optional"  v-model="orderComments"  class="form-control col-md-4" type="text">
                        </div>

                        <div class="row form-group">
                            <label  class="col-md-2">Print Size</label>
                             <select v-model="printSize"  class="form-control col-md-4">
                                <option value="a4">A4</option>
                                <option value="80">80</option>
                            </select>
                        </div>

                    </template>
                    <div class="row form-group">
                        <button @click="Save" v-shortkey="['ctrl', 'alt', 's']" @shortkey="Save()" class="btn btn-primary btn-sm"><i class="fa fa-check"></i> Save</button>
                        <button style="margin-left: 6px;" @click="Save(event,true)" v-shortkey="['ctrl', 'alt', 'p']" @shortkey="Save()" class="btn btn-success btn-sm"><i class="fa fa-check"></i> Save and Print</button>

                    </div>
                </div>
            </div>
        </modal>
        <button v-shortkey="['ctrl', 'alt', 'c']" @shortkey="openCheckout()" style="visibility: hidden"></button>
        <a  target="_blank" ref='printRef' style="visibility: hidden;" :href="printSrc"></a>
    </div>


</template>

<script>
    import BeatLoader from 'vue-spinner/src/BeatLoader.vue';
    import axios from 'axios';
    var moment=require('moment');
    export default {
        name: "PointOfSales",
        components:{
          'beat-loader':BeatLoader
        },
        data(){
            return {
                invoiceId:null,
                customerOption: 'permanent',
                customerName:'Walking Customer',
                customerContact:0,
                billOption:'salesInvoice',
                search:'',
                items:[],
                customerId:0,
                itemsLoading:false,
                highlightedIndex:-1,
                invoiceItems:[],
                total:0,
                paid:0,
                given:0,
                discount:0,
                rem:0,
                returned:0,
                payLater:2,
                date:moment().format('Y-MM-DD'),
                customers:[],
                customersLoading:false,
                printSrc:'',
                orderAdvance:0,
                orderRemaining:0,
                orderCleared:0,
                orderComments:'',
                orderDelivery:'',
                orderDiscount:0,
                printSize:'a4'
            }
        },
        methods:{
            modalClosed(){
                this.selectedIndex=-1;
                this.highlightedIndex=-1;
            },
            showItems(){
                this.$modal.show('items');
            },
            modalOpened(){
                setTimeout(()=>this.$refs.search.focus(),500);
                //this.$refs.search.focus();
            },
            searchDown(){
                this.highlightedIndex++;
                if(this.highlightedIndex>=this.getItems.length){
                    this.highlightedIndex=-1;
                    this.$refs.search.focus();
                    return;
                }
               
                this.$refs[name][0].focus();
                let y = $(window).scrollTop();  //your current y position on the page

            },
            searchUp(){
                if(this.highlightedIndex===-1){
                    this.highlightedIndex=this.getItems.length-1;
                    let name = `item${this.highlightedIndex}`;
                    this.$refs[name][0].focus();
                    return;
                }

                if(this.highlightedIndex===0){
                    this.highlightedIndex=-1;
                    this.$refs.search.focus();
                    return;
                }
                this.highlightedIndex--;
                let name = `item${this.highlightedIndex}`;
                this.$refs[name][0].focus();

            },
            selectItem(index){
                this.highlightedIndex=index;
                this.$modal.hide('items');
                let item =JSON.parse(JSON.stringify(this.getItems[this.highlightedIndex]));
                item.price=item.sale_price;
                item.quantity=1;
                item.bonus=0;
                if(item.covered===0)
                    item.discount=item.covered_discount;
                else item.discount=item.uncovered_discount;
                item.total=item.price;
                if(!item.stock)
                    item.stock='Loading';
                item.return_type="amount";
                this.invoiceItems.push(item);
                this.calcTotal();
                console.log(`quantity${this.invoiceItems.length-1}`);
                var acha=this;
                 this.$toasted.success('Added Item',{
                         icon:"check",
                         onClick : (e, toastObject) => {
                             toastObject.goAway(0);
                         },
                         duration:1000,
                     });
                this.search='';
                this.selectedIndex=-1;
                this.highlightedIndex=-1;
                setTimeout(function(){
                    console.log(acha.$refs[`quantity${acha.invoiceItems.length-1}`][0].focus());
                }, 500);
                this.getItemStock(item);

            },
            classBind(index){
                return this.highlightedIndex===index;
            },
            calcTotal(){
                let total=0;
                this.invoiceItems.forEach(item=>{
                   item.total=item.price*item.quantity;
                   if(item.discount>0)
                    item.total=Math.round(item.total * (1-(item.discount/100)));
                   total+=item.total;
                });
                this.total=total;

                if(this.discount>0) {
                    this.total = this.total - this.discount;
                    this.paid=this.total;

                }

                if(this.given>0) {
                    this.returned = this.given - total;
                     // this.returned = (this.given - total) + this.discount;
                    // if(this.given == 0){
                    //     this.paid = 0;
                    // }else{
                    //     this.paid = this.given
                    // }
                    if(this.returned<0)
                        this.returned=0;
                    this.rem=this.total-this.given;
                    if(this.rem<1)
                        this.rem=0;
                }

                if(this.orderAdvance>0){
                    this.orderRemaining=this.total-this.orderAdvance;
                }


            },
            remItem(index){
                this.invoiceItems.splice(index,1);
                this.calcTotal();
            },
            openCheckout(){
                this.$modal.show('checkout');
            },
            Save(event ,print=false){
                
                let data = new FormData();
                if(this.billOption==='salesInvoice') {
                    if (this.customerOption === 'walking') {
                        if (this.customerId === 0) {
                            data.append('customer_id', this.customerId);
                            if (this.customerName.length < 1) {
                                this.$toasted.error('Fill Customer Name', {
                                    icon: "error",
                                    onClick: (e, toastObject) => {
                                        toastObject.goAway(0);
                                    },
                                    duration: 2000,

                                });
                                return;
                            }
                            if (this.customerContact.length < 1) {
                                this.$toasted.error('Fill Customer Contact', {
                                    icon: "error",
                                    onClick: (e, toastObject) => {
                                        toastObject.goAway(0);
                                    },
                                    duration: 2000,

                                });
                                return;
                            }

                            data.append('name', this.customerName);
                            data.append('number', this.customerContact);
                        }
                    }
                    else {
                        if (this.customerId === 0) {
                            this.$toasted.error('Select Customer', {
                                icon: "error",
                                onClick: (e, toastObject) => {
                                    toastObject.goAway(0);
                                },
                                duration: 2000,

                            });
                            return;
                        }
                        else {
                            data.append('c_name', this.customerName);
                            data.append('number', this.customerContact);
                            data.append('customer_id', this.customerId);
                        }

                    }
                    data.append('total_price', this.total);
                    data.append('paid_amount', this.paid);
                    data.append('given', this.given);
                    data.append('remaining', this.rem);
                    data.append('returned', this.returned);
                    data.append('discount', this.discount);
                    data.append('comments', this.orderComments);

                    if (this.payLater === 2)
                        data.append('pay_later', 0);
                    else data.append('pay_later', 1);
                    if (this.date.length < 1) {
                        this.$toasted.error('Fill Date', {
                            icon: "error",
                            onClick: (e, toastObject) => {
                                toastObject.goAway(0);
                            },
                            duration: 2000,

                        });
                        return;
                    }
                    else data.append('date', this.date);
                    if (this.invoiceItems.length < 1) {
                        this.$toasted.error('No Items Selected', {
                            icon: "error",
                            onClick: (e, toastObject) => {
                                toastObject.goAway(0);
                            },
                            duration: 2000,

                        });
                        return;
                    }
                    data.append('items', JSON.stringify(this.getSubmitItems(this.invoiceItems)));
                    if (print)
                        data.append('print', true);
                    let toasted = this.$toasted.info('Loading...', {
                        icon: "sync",
                    });
                    axios.post('invoice-create-api', data)
                        .then((r) => {
                            toasted.goAway(0);
                            this.$toasted.success('Saved', {
                                icon: "check",
                                onClick: (e, toastObject) => {
                                    toastObject.goAway(0);
                                },
                                duration: 2000,
                            });


                            this.clearInvoice();
                            console.log(print);
                            if (print) {
                                this.printSrc = '/admin/print/salesInvoice/' + r.data+'?print_size='+this.printSize;
                                let main = this;
                                setTimeout(function () {
                                    main.$refs.printRef.click();
                                }, 500);

                            }
                        })
                        .catch(() => {
                            toasted.goAway(0);
                            this.$toasted.error('Error Saving', {
                                icon: "error",
                                onClick: (e, toastObject) => {
                                    toastObject.goAway(0);
                                },
                                duration: 2000,

                            });
                        });
                }

                else if(this.billOption==="orderBooking") {
                    this.saveOrderBooking(print);
                }
                else {
                    this.saveSalesReturn(print);
                }

            },
            saveOrderBooking(print){
                let data =new  FormData();
                if (this.customerOption === 'walking') {
                    if (this.customerId === 0) {
                        data.append('customer_id', this.customerId);
                        if (this.customerName.length < 1) {
                            this.$toasted.error('Fill Customer Name', {
                                icon: "error",
                                onClick: (e, toastObject) => {
                                    toastObject.goAway(0);
                                },
                                duration: 2000,

                            });
                            return;
                        }
                        if (this.customerContact.length < 1) {
                            this.$toasted.error('Fill Customer Contact', {
                                icon: "error",
                                onClick: (e, toastObject) => {
                                    toastObject.goAway(0);
                                },
                                duration: 2000,

                            });
                            return;
                        }

                        data.append('name', this.customerName);
                        data.append('number', this.customerContact);
                    }
                }
                else {
                    if (this.customerId === 0) {
                        this.$toasted.error('Select Customer', {
                            icon: "error",
                            onClick: (e, toastObject) => {
                                toastObject.goAway(0);
                            },
                            duration: 2000,

                        });
                        return;
                    }
                    else {
                        data.append('name', this.customerName);
                        data.append('number', this.customerContact);
                        data.append('customer_id', this.customerId);
                    }

                }
                if (this.invoiceItems.length < 1) {
                    this.$toasted.error('No Items Selected', {
                        icon: "error",
                        onClick: (e, toastObject) => {
                            toastObject.goAway(0);
                        },
                        duration: 2000,

                    });
                    return;
                }
                data.append('total_price', this.total);
                data.append('advance',this.orderAdvance);
                data.append('remaining',this.orderRemaining);
                data.append('comments',this.orderComments);
                data.append('cleared',this.orderCleared);
                data.append('delivery',this.orderDelivery);
                data.append('discount',this.discount);
                data.append('items', JSON.stringify(this.getSubmitItems(this.invoiceItems)));
                if (this.date.length < 1) {
                    this.$toasted.error('Fill Date', {
                        icon: "error",
                        onClick: (e, toastObject) => {
                            toastObject.goAway(0);
                        },
                        duration: 2000,

                    });
                    return;
                }
                else data.append('date', this.date);

                let toasted = this.$toasted.info('Loading...', {
                    icon: "sync",
                });
                axios.post('invoice-booking-api', data)
                    .then((r) => {
                        toasted.goAway(0);
                        this.$toasted.success('Saved', {
                            icon: "check",
                            onClick: (e, toastObject) => {
                                toastObject.goAway(0);
                            },
                            duration: 2000,
                        });


                        this.clearInvoice();
                        if (print) {
                            this.printSrc = ``+'/admin/order_booking/print/' + r.data+'?print_size='+this.printSize;
                            let main = this;
                            setTimeout(function () {
                                main.$refs.printRef.click();
                            }, 500);

                        }
                    })
                    .catch(() => {
                        toasted.goAway(0);
                        this.$toasted.error('Error Saving', {
                            icon: "error",
                            onClick: (e, toastObject) => {
                                toastObject.goAway(0);
                            },
                            duration: 2000,

                        });
                    });

            },
            saveSalesReturn(print){
                let data =new  FormData();
                if (this.customerOption === 'walking') {
                    if (this.customerId === 0) {
                        data.append('customer_id', this.customerId);
                        if (this.customerName.length < 1) {
                            this.$toasted.error('Fill Customer Name', {
                                icon: "error",
                                onClick: (e, toastObject) => {
                                    toastObject.goAway(0);
                                },
                                duration: 2000,

                            });
                            return;
                        }
                        if (this.customerContact.length < 1) {
                            this.$toasted.error('Fill Customer Contact', {
                                icon: "error",
                                onClick: (e, toastObject) => {
                                    toastObject.goAway(0);
                                },
                                duration: 2000,

                            });
                            return;
                        }

                        data.append('name', this.customerName);
                        data.append('number', this.customerContact);
                    }
                }
                else {
                    if (this.customerId === 0) {
                        this.$toasted.error('Select Customer', {
                            icon: "error",
                            onClick: (e, toastObject) => {
                                toastObject.goAway(0);
                            },
                            duration: 2000,

                        });
                        return;
                    }
                    else {
                        data.append('name', this.customerName);
                        data.append('number', this.customerContact);
                        data.append('customer_id', this.customerId);
                    }

                }
                if (this.invoiceItems.length < 1) {
                    this.$toasted.error('No Items Selected', {
                        icon: "error",
                        onClick: (e, toastObject) => {
                            toastObject.goAway(0);
                        },
                        duration: 2000,

                    });
                    return;
                }

                if(this.invoiceId)
                    data.append('sales_invoice_id',this.invoiceId);
                data.append('total_price',this.total);
                data.append('paid_amount',this.given);
                data.append('comments',this.orderComments);
                data.append('cleared',this.orderCleared);
                data.append('items', JSON.stringify(this.getSubmitItems(this.invoiceItems)));
                if (this.payLater === 2)
                    data.append('pay_later', 0);
                else data.append('pay_later', 1);
                if (this.date.length < 1) {
                    this.$toasted.error('Fill Date', {
                        icon: "error",
                        onClick: (e, toastObject) => {
                            toastObject.goAway(0);
                        },
                        duration: 2000,

                    });
                    return;
                }
                else data.append('date', this.date);
                let toasted = this.$toasted.info('Loading...', {
                    icon: "sync",
                });
                axios.post('invoice-return-api', data)
                    .then((r) => {
                        toasted.goAway(0);
                        this.$toasted.success('Saved', {
                            icon: "check",
                            onClick: (e, toastObject) => {
                                toastObject.goAway(0);
                            },
                            duration: 2000,
                        });


                        this.clearInvoice();
                        if (print) {
                            this.printSrc = '/admin/sales_return/print/' + r.data+'?print_size='+this.printSize;
                            let main = this;
                            setTimeout(function () {
                                main.$refs.printRef.click();
                            }, 500);

                        }
                    })
                    .catch(() => {
                        toasted.goAway(0);
                        this.$toasted.error('Error Saving', {
                            icon: "error",
                            onClick: (e, toastObject) => {
                                toastObject.goAway(0);
                            },
                            duration: 2000,

                        });
                    });

            },
            clearInvoice(){
                this.$modal.hide('checkout');
                this.invoiceItems=[];
                this.calcTotal();
                this.total=0;
                this.paid=0;
                this.given=0;
                this.discount=0;
                this.rem=0;
                this.returned=0;
                this.payLater=2;
                this.customerName='Walking Customer';
                this.customerContact='0';
                this.search='';
                this.orderAdvance=0;
                this.orderRemaining=0;
                this.orderDelivery='';
                this.orderComments='';
                this.orderCleared=0;
                this.selectedIndex=1;
                this.highlightedIndex=-1;
                this.invoiceId=null;
                this.customerId = 23;

            }
            ,
            getSubmitItems(items){
                if(this.billOption==='salesInvoice')
                    return items.map(item=>{
                       let ret = {};
                       ret.item_id=item.id;
                       ret.price =item.price;
                       ret.quantity=item.quantity;
                       ret.bonus=item.bonus;
                       ret.discount=item.discount;
                       ret.covered=item.covered;
                       ret.total_price=item.total;
                       return ret;
                    });
                else if(this.billOption==="orderBooking"){
                    return items.map(item=>{
                        let ret = {};
                        ret.item_id=item.id;
                        ret.price =item.price;
                        ret.quantity=item.quantity;
                        ret.discount=item.discount;
                        ret.covered=item.covered;
                        ret.total_price=item.total;
                        return ret;
                    });
                }
                else return items.map(item=>{
                        let ret = {};
                        ret.item_id=item.id;
                        ret.price =item.price;
                        ret.quantity=item.quantity;
                        ret.discount=item.discount;
                        ret.covered=item.covered;
                        ret.total_price=item.total;
                        ret.return_type=item.return_type;
                        return ret;
                    });
            },
            checkoutOpened(){
                if(this.billOption==="salesReturn"){
                    this.$refs.given.focus();
                    this.$refs.given.select();
                }

                else {
                    this.$refs.paid.focus();
                    this.$refs.paid.select();
                }
            },
            getPermCust(){
                if(this.customerOption==='walking'){
                    this.customerId=0;
                    this.getItemsAgain();
                }

                else {
                    if (this.customers.length < 1) {
                        this.customersLoading = true;
                        axios.get('perm-customers')
                            .then(r => {
                                this.customersLoading = false;
                                this.customers = r.data;
                                this.customerId=23;
                                this.getItemsAgain();
                            })
                            .catch(e => {
                                this.customersLoading = false;
                            });
                    }
                }
            },
            getItemsAgain(search = ``){
                if(this.customerId>=0){
                    this.itemsLoading=true;
                    let url  = `/item-api/${this.customerId}`;
                    if(search.length > 0)
                        url+=`?search?=${search}`;
                    axios.get(url)
                        .then(r=>{
                            this.items=r.data.data;
                            this.itemsLoading=false;
                        })
                        .catch(e=>{
                            console.log(e);
                            this.itemsLoading=false;
                        })

                }
            },

            async getItemStock(itemObj){
                let url =`/api/get-item-stock/${itemObj.id}`
                 axios.get(url)
                    .then(r=>{
                       
                        itemObj.stock=r.data.stock;
                        this.$forceUpdate();
                    })
                    .catch(e=>{
                        console.log(e);
                       
                    })

            }

        },
        computed:{
          getItems(){
              if(this.search!=='')
                  return this.items.filter(item=>{
                      return item.name.toLowerCase().indexOf(this.search.toLowerCase())>-1
                  });
              else return this.items;
          }
        },
        created(){
           
            this.getPermCust();
            // this.itemsLoading=true;
            // axios.get(`/item-api/${this.customerId}`)
            //     .then(r=>{
            //         this.items=r.data.data;
            //         this.itemsLoading=false;
            //     })
            //     .catch(e=>{
            //         console.log(e);
            //         this.itemsLoading=false;
            //     })

        }
    }
</script>

<style scoped>
input{

}
    .custom-form-control{
        border: 1px solid grey;
        margin-left: 6px;
        margin-right: 6px;
    }

    .custom-div{
        margin-right: 2px !important;
        margin-left: 2px !important;
    }
    #tableDiv{
        overflow-y: scroll;
    }

    .table{

    }

    .table th,td{
        padding: 0;
        padding-left: 0px !important;
    }
    .table tr{
        border-bottom: 1px solid darkgray;
        border-top: 1px solid darkgray;
        cursor: pointer;
    }

    .highlighted{
        background: dodgerblue !important;
    }

    .highlighted td{
        color:white;
    }

    .row-input{
        font-size: 12px;
        border: 1px solid grey;
        max-width: 50px;
    }

    .total{
        border: 1px solid white;
        padding: 4px;
        padding-left: 2px;
        padding-right: 2px;
        background-color: #007bff;
        color:white;
    }

    .table::-webkit-scrollbar{
        /*Your styles here*/
        width: 10px;
        height: 10px;
    }
    .table::-webkit-scrollbar-thumb{
        /*Your styles here*/
        background-color: red;
    }
    .table::-webkit-scrollbar-track {
        background-color: #ccc;
    }

</style>