<template>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div v-show="!qualityLoading" class="col-md-3">
                    <label>Qualities</label>
                    <select style="width:80%" v-model="qualitySelectedValue" class="form-control-sm" >
                        <option v-for="quality in qualities" v-bind:value="quality.id">{{quality.name}}</option>
                    </select>
                </div>

                <div v-show="qualityLoading" style="margin-top:30px;" class="col-md-3">
                    <div class="loader"></div>
                </div>

                <div v-show="!itemLoading" id="itemDiv" class="col-md-2">
                    <label>Item</label>
                    <select style="width:80%" v-model="itemSelectedValue" class="form-control-sm" >
                        <option v-for="item in items" v-bind:value="item.id">{{item.name}}</option>
                    </select>
                </div>
                <div v-show="itemLoading" class="col-md-2">
                    <div class="loader"></div>
                </div>
                <div class="col-md-2">
                    <label>From</label>
                    <input v-model="fromDate" class="form-control-sm" type="date"/>
                </div>
                <div class="col-md-2">
                    <label>To</label>
                    <input v-model="toDate" class="form-control-sm" type="date"/>
                </div>
                <div class="col-md-2">
                    <button @click="dateSearch" class="btn btn-primary btn-sm">Go</button>
                </div>

            </div>
        </div>
        <div v-show="!mynew.payments.length && !paymentsLoading" style="padding-top: 10px;" class="col-md-12 text-center">
            <h1>No Information</h1>
        </div>
        <div v-if="paymentsLoading" style="padding-top: 10px;" class="col-md-12 text-center">
            <template v-if="paymentsPercentage==0">
                <h1>Processing Data</h1>
            </template>
            <h1 v-if="paymentsPercentage>0">Downloading Data .... {{paymentsPercentage}}%</h1>
        </div>
        <div  class="col-md-12">
            <div class="table-responsive table-responsive-data2">
                <table v-show="mynew.payments.length>0" id="tableID" class="table table-data2">
                    <thead>
                    <tr>
                        <th v-for="column in columns">{{column}}</th>
                    </tr>
                    </thead>

                    <tbody>
                        <template v-for="item in newFilter.payments">
                            <tr  v-if="item.Type==='monthEnd'" class="blue">
                                <td>Monthly</td>
                                <td colspan="2"></td>
                                <td>{{getMonthName(item.currentMonth)}}</td>
                                <td>{{item.monthCredit}}</td>
                                <td>{{item.monthDebit}}</td>
                                <td>{{item.balance}}</td>
                            </tr>
                            <template v-if="item.Type==='finalMonthEnd'"> 
                                <tr class="blue">
                                    <td>Monthly</td>
                                <td colspan="2"></td>
                                <td>{{getMonthName(item.currentMonth)}}</td>
                                <td>{{item.monthCredit}}</td>
                                <td>{{item.monthDebit}}</td>
                                <td></td>
                                </tr> 
                                <tr class="blue">
                                    <td colspan="6">Final</td>
                                    <td>{{item.balance}}</td>
                                </tr>
                            </template>
                            <tr v-if="item.Type!=='monthEnd' && item.Type!=='finalMonthEnd'">
                                <td><a target="_blank" :href="'/admin/'+getTypeUrl(item.type)+'/'+item.superid">{{item.superid}}</a></td>
                                <td>{{item.dat? parseDate(new Date(item.dat)):'NA'}}</td>
                                <td>{{item.comments?item.comments:'NA'}}</td>
                                <td>{{getType(item.type)}}</td>
                                <td>{{item.received}}</td>
                                <td>{{item.given  }}</td>
                                <td>{{item.balance}}</td>
                         </tr>
                    </template>

                    </tbody>

                </table>

                <div class="row" style="padding-top:10px" >
                    <div class="col-md-12">
                        Total Quantity : <strong>{{this.mynew.stats.mainQuantity}}</strong>
                    </div>
                    <div class="col-md-12">
                        Opening Date : <strong>{{this.mynew?this.mynew.stats.openingDate:'NA'}} </strong>
                    </div>

                    <div class="col-md-12">
                        Opening Quantity : <strong>{{this.mynew?this.mynew.stats.openingQuantity:'NA'}}</strong>
                    </div>
                </div>

                <!-- <div class="row" style="padding-top:10px" >
                            <div class="col-md-12">
                               Total Balance Final : <strong>{{this.mynew.stats.balance}} \-</strong>
                            </div>
                </div> -->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProductTable",
        props:['columns'],
        data(){
            return{
                arrayEmpty:false,
                fromDate:null,
                toDate:null,
                selectVal:-1,
                companies:'',
                selectedArray:[],
                mynew: {
                    payments:[],
                    stats:{}
                },
                openingBalance:{},
                qualities:null,
                items:null,
                qualityLoading:true,
                itemLoading:false,
                qualitySelectedValue:-1,
                itemSelectedValue:0,
                payments:[],
                paymentsLoading:false,
                paymentsPercentage:0

            }
        },
        beforeCreate(){
            this.qualityLoading=true;
            axios.get('/admin/getQuality')
                .then(response=>{
                    //console.log(response.data);
                    this.qualities=response.data;
                    this.qualityLoading=false;
                })
                .catch(e=>console.log(e));
            /*axios.get('/admin/getPayment',{
                onDownloadProgress: progressEvent => {
                    let percentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total);
                    this.paymentsPercentage=percentCompleted;
                }
            })
                .then(response=>{
                    //console.log(response.data);
                    this.payments=response.data;
                    this.paymentsLoading=false;
                })
                .catch(e=>{
                    this.paymentsLoading=false;
                    window.alert("Failed Loading Data");
                });*/

        },
        computed: {

            newFilter:function(){
                if(!this.fromDate || !this.toDate) {
                    let tempArray=this.payments.filter((item) => {
                        return item.item_id == this.itemSelectedValue;
                    });
                    console.log(tempArray);
                    return this.calcResult([],tempArray,[]);
                }
                let from=new Date(this.fromDate);
                let to= new Date(this.toDate);
                let mainArray= this.payments.filter((item) => {
                    return (item.item_id == this.itemSelectedValue &&
                        new Date(item.dat).getTime()>=from.getTime() && new Date(item.dat).getTime()<=to.getTime()

                    );
                });

                let prev_array=this.payments.filter((item) => {
                    return (item.item_id == this.itemSelectedValue &&
                        new Date(item.dat).getTime()<from.getTime());
                });

                let after_array=this.payments.filter((item) => {
                    return (item.item_id == this.itemSelectedValue &&
                        new Date(item.dat).getTime()>to.getTime());
                });

                return this.calcResult(prev_array,mainArray,after_array)


            }



        },

        methods:{
            insertAt(array, index, ...elementsArray) {
                array.splice(index, 0, ...elementsArray);
            },
            getMonthName(number){
                let month=[];
                month[0] = "January";
                month[1] = "February";
                month[2] = "March";
                month[3] = "April";
                month[4] = "May";
                month[5] = "June";
                month[6] = "July";
                month[7] = "August";
                month[8] = "September";
                month[9] = "October";
                month[10] = "November";
                month[11] = "December";
                return month[number];

            }
            ,
            getType(text){
                if(text==='salesInvoice')
                    return 'Sales Invoice'
                else if(text==='salesReturn')
                    return 'Sales Return'
                else if(text==='purchaseReturn')
                    return 'Purchase Return';
                else return 'Purchase Invoice';
            },
            getTypeUrl(text){
                if(text==='salesInvoice')
                    return 'sales_invoice'
                else if(text==='salesReturn')
                    return 'sales_return'
                 else if(text==='purchaseReturn')
                    return 'purchase_return' 
                else return 'purchase_invoice';
            }

            ,
            dateSearch(){
                console.log('Called');
                if(!this.fromDate || !this.toDate)
                    return;
                else{
                    let from=new Date(this.fromDate);
                    let to=new Date(this.fromDate);
                    console.log('From '+ from +" To "+to);
                    return this.selectedArray.filter((item) => {
                        return (item.owner_id == this.selectVal &&
                            item.date>=from && item.date<=to

                        );
                    })
                }
            },

            parseDate(date){
                let month=date.getMonth()+1;
                return date.getDate()+('-')+month+'-'+date.getFullYear();
            }

            ,

            calcResult(prev_array,main_array,after_array){
                let clonedObject = null;
                let openingQuantity=0;
                let openingDate='';
                let quantity=0;
                for(let enry in this.items ){
                    let entry=this.items[enry];
                    if(entry.id==this.itemSelectedValue){
                        if(entry.opening_quantity){
                            openingQuantity+=entry.opening_quantity;
                            openingDate=entry.opening_date;
                        }
                    }

                }
                quantity=openingQuantity;
                let prevQuantity=0;
                if(prev_array.length>0){
                    for(let enry in prev_array){
                        let entry=prev_array[enry]
                        if(entry.type==='salesInvoice'){
                            quantity-=entry.quantity;
                            prevQuantity-=entry.quantity;
                        }
                        else if(entry.type==='salesReturn') {
                            quantity += entry.quantity;
                            prevQuantity+=entry.quantity;
                        }
                        else {
                            quantity+=entry.quantity;
                            prevQuantity+=entry.quantity;
                        }
                    }
                }
                let mainQuantity=openingQuantity;

                let currentMonth=null;
                let monthCredit=0;
                let monthDebit=0;
                if(main_array.length>0){
                    currentMonth=new Date(main_array[0].dat).getMonth();
                }

                for(let enry =0;enry<main_array.length;enry++){
                    //debugger;
                    let entry=main_array[enry];
                     if(entry.Type==='monthEnd' || entry.Type==='finalMonthEnd'){
                        continue;   
                     }

                     if(new Date(entry.dat).getMonth()!=currentMonth){
                            let monthObj={
                                balance:mainQuantity,
                                Type:'monthEnd',
                                month:currentMonth,
                                monthCredit:monthCredit,
                                monthDebit:monthDebit,
                                currentMonth:currentMonth
                            }
                            main_array.splice(enry,0,monthObj);
                            currentMonth=new Date(entry.dat).getMonth();
                            monthCredit=0;
                            monthDebit=0;
                             //enry++;
                            // entry=main_array[enry];
                            continue;
                    }
                    entry.creditAmount=0;
                    entry.debitAmount=0;
                    if(entry.type==='salesInvoice'){
                        quantity-=entry.quantity;
                        mainQuantity-=entry.quantity;
                        entry.balance=quantity;
                        entry.given=entry.quantity;
                        entry.received=0;

                        //Monthly Logic
                        monthDebit+=entry.quantity;
                    }
                    else if(entry.type==='salesReturn') {
                        quantity += entry.quantity;
                        mainQuantity+=entry.quantity;
                        entry.balance=quantity;
                        entry.given=0;
                        entry.received=entry.quantity;

                        //Monthly Logic
                        monthCredit+=entry.quantity;


                        if(entry.return_type === "quantity"){
                            clonedObject = JSON.parse(JSON.stringify(entry));
                            quantity-=entry.quantity;
                            mainQuantity-=entry.quantity;
                            clonedObject.balance = quantity;
                            clonedObject.given = clonedObject.quantity;
                            clonedObject.received = 0; 

                            this.insertAt(main_array,enry+1,clonedObject);
                            enry+=1;
                        }
                    }
                    else if(entry.type==='purchaseReturn') {
                        quantity -= entry.quantity;
                        mainQuantity-=entry.quantity;
                        entry.balance=quantity;
                        entry.given=entry.quantity;
                        entry.received=0;

                        //Monthly Logic
                        monthDebit+=entry.quantity;
                       
                    }
                    else {
                        quantity+=entry.quantity;
                        mainQuantity+=entry.quantity;
                        entry.balance=quantity;
                        entry.given=0;
                        entry.received=entry.quantity;

                        //Monthly Logic
                        monthCredit+=entry.quantity;
                    }

                    if(enry==(main_array.length-1)){
                           
                        let monthObj={
                                balance:mainQuantity,
                                month:currentMonth,
                                monthCredit:monthCredit,
                                monthDebit:monthDebit,
                                Type:'finalMonthEnd',
                                currentMonth:currentMonth
                            };
                        main_array.push(monthObj);  
                    }
                }

               
                let afterQuantity=0;
                if(after_array.length>0){

                    for(let enry in after_array){
                        let entry=after_array[enry]
                        if(entry.type==='salesInvoice'){
                            quantity-=entry.quantity;
                            afterQuantity-=entry.quantity;
                        }
                        else if(entry.type==='salesReturn') {
                            quantity += entry.quantity;
                            afterQuantity+=entry.quantity;
                        }
                        else {
                            quantity+=entry.quantity;
                            afterQuantity+=entry.quantity;
                        }
                    }
                }

                var obj=new Object;

                obj.openingQuantity=openingQuantity;
                obj.openingDate=openingDate;
                obj.quantity=quantity;
                obj.mainQuantity=mainQuantity;

                var mainObj=new Object;
                mainObj.stats=obj;
                mainObj.payments=main_array;
                return this.mynew=mainObj;

            }

        },
        watch:{
            'qualitySelectedValue':function(){
                this.itemSelectedValue=0;
                this.itemLoading=true;
                axios.get(`/admin/getItem/${this.qualitySelectedValue}`)
                    .then(response=>{
                        this.items=response.data;
                        this.itemLoading=false;
                    })
                    .catch(e=>console.log(e));
            },
            'itemSelectedValue':function (old,newVal) {
                this.paymentsLoading=true;
                this.paymentsPercentage=0;
                axios.get('/admin/getPaymentsByItem/'+old,{
                    onDownloadProgress: progressEvent => {
                        let percentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total);
                        this.paymentsPercentage = percentCompleted;
                    }
                    })
                    .then(r=>{
                        this.payments=r.data;
                        this.paymentsLoading=false;
                    })
            }
        }
    }
</script>

<style scoped>
.blue{
    background: #0056b3;
}
.blue td{
    color:white !important;
}

    .loader,
    .loader:after {
        border-radius: 50%;
        width: 10em;
        height: 10em;
    }
    .loader {
        margin: 0;
        font-size: 3px;
        position: relative;
        text-indent: -9999em;
        border-top: 1.1em solid #007bff;
        border-right: 1.1em solid #007bff;
        border-bottom: 1.1em solid #007bff;
        border-left: 1.1em solid #ffffff;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: load8 1.1s infinite linear;
        animation: load8 1.1s infinite linear;
    }
    @-webkit-keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

</style>