<template>
    
</template>

<script>
    import axios from axios;
    export default {
        name: "QualiyWiseStockValutaion",
        created(){
            axios.get('api-qwsv')
                .then(r=>{
                    console.log(r.data);
                })
        }
    }
</script>

<style scoped>

</style>