<template>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <label>Company</label>
                    <select class="form-control-sm" v-model="selectVal">
                        <option v-for="company in companies" v-bind:value="company.id">{{company.name}}</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>From</label>
                    <input v-model="fromDate" class="form-control-sm" type="date"/>
                </div>
                <div class="col-md-3">
                    <label>To</label>
                    <input v-model="toDate" class="form-control-sm" type="date"/>
                </div>
                <div class="col-md-2">
                    <button @click="dateSearch" class="btn btn-primary btn-sm">Go</button>
                </div>

            </div>
        </div>
        <div v-show="arrayEmpty" class="col-md-12 text-center">
                <h1>No Information</h1>
        </div>
        <div v-show="!arrayEmpty" class="col-md-12">
            <div class="row" style="padding-top:10px" >
                            <div class="col-md-6">
                                Opening Type : <strong>{{this.mynew?this.mynew.stats.openingType:'NA'}} </strong>
                            </div>

                            <div class="col-md-6">
                                Opening Balance : <strong>{{this.mynew?this.mynew.stats.openingAmount:'NA'}}</strong>
                            </div>
                    </div>

                     <div class="row" style="padding-top:10px" >
                            <div class="col-md-6">
                                Opening Date : <strong>{{this.mynew?this.mynew.stats.balanceDate:'NA'}} </strong>
                            </div>

                            <div class="col-md-6">
                                Balance Limit : <strong>{{this.mynew?this.mynew.stats.balanceLimit:'NA'}}</strong>
                            </div>
                    </div>
                    
            <div class="table-responsive table-responsive-data2">
                <table id="tableID" class="table table-data2">
                    <thead>
                        <tr>
                            <th v-for="column in columns">{{column}}</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <template v-for="(item,index) in newFilter.payments" >
                            <tr v-if="item.Type==='monthEnd'" class="blue">
                                   
                            <td>Total in </td>
                            <td></td>
                            <td>{{getMonthName(item.month)}}</td>
                            <td></td>
                            <td>{{item.monthDebit.toLocaleString('en')}}</td>
                            <td>{{item.monthCredit.toLocaleString('en')}}</td>
                            <td></td>
                            


                            </tr> 

                            <template v-if="item.Type==='finalMonthEnd'">  
                                <tr class="blue">
                                    
                            <td>Total in</td>
                            
                            <td></td>
                            <td>{{getMonthName(item.month)}}</td>
                            <td></td>
                            <td>{{item.monthDebit.toLocaleString('en')}}</td>
                            <td>{{item.monthCredit.toLocaleString('en')}}</td>
                            <td></td>
                           


                        </tr> 
                        <tr   class='blue'>
                            
                            <td>Total after</td>
                            
                            <td></td>
                            
                            <!-- <td>{{item.comments?item.comments:'NA'}}</td> -->
                            <td>{{getMonthName(item.month)}}</td>
                            <td></td>

                            <td>{{item.debitAmount?item.debitAmount.toLocaleString('en'):''}}</td>
                             <td>{{item.creditAmount.toLocaleString('en')}}</td>
                            <td>{{Math.abs(item.balance).toLocaleString('en')}} ({{item.balance > 1 ?'Cr':'Db'}})</td> 
                            
                        </tr>
                            </template>
                            <tr v-if="item.Type!=='monthEnd' && item.Type!=='finalMonthEnd'">
                                <td><a target="_blank" :href="'/admin/'+getTypeUrl(item.sales_type)+'/'+(item.sales_id?item.sales_id:item.id)">{{item.sales_id?item.sales_id:item.id}}</a></td>
                                <td>{{item.date? parseDate(new Date(item.date)):'NA'}}</td>
                                <td>{{item.comments?item.comments:'NA'}}</td>
                                <td>{{item.type | capitalize}}</td>
                            
                                <td>{{item.debitAmount.toLocaleString('en')}}</td>
                                <td>{{item.creditAmount.toLocaleString('en')  }}</td>
                                
                                <td>{{Math.abs(item.balance).toLocaleString('en')}} ({{item.balance > 1 ?'Cr':'Db'}}) </td>
                            </tr>
                        </template>
                        
                    </tbody>
                    
                </table>

                <div class="row" style="padding-top:10px" >
                            <div class="col-md-12">
                               Total Credit Final : <strong>{{this.mynew.stats.mainCredit.toLocaleString('en')}} \-</strong>
                            </div>
                </div>
                <div class="row" style="padding-top:10px" >
                            <div class="col-md-12">
                               Total Debit Final : <strong>{{this.mynew.stats.mainDebit.toLocaleString('en')}} \-</strong>
                            </div>
                </div>

                <div class="row" style="padding-top:10px" >
                            <div class="col-md-12">
                               Total Balance Final : <strong>{{this.mynew.stats.balance.toLocaleString('en')}} \-</strong>
                            </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Table",
        props:['columns','dataarray'],
        data(){
            return{
                arrayEmpty:false,
                fromDate:null,
                toDate:null,
                selectVal:0,
                companies:'',
                selectedArray:[],
                mynew:null,
                openingBalance:{}

            }
        },
        beforeCreate(){
            axios.get('/admin/getComp')
                .then(response=>{
                    //console.log(response.data);
                    this.companies=response.data;

                })
                .catch(e=>console.log(e));

        },
        computed: {
            

            newFilter:function(){
                    if(!this.fromDate || !this.toDate) {
                            let tempArray=this.dataarray.filter((item) => {
                                return item.owner_id == this.selectVal;
                            });
                            console.log(tempArray);
                            return this.calcResult([],tempArray,[]);
                        }
                    let from=new Date(this.fromDate);
                    let to= new Date(this.toDate);
                    let mainArray= this.dataarray.filter((item) => {
                    return (item.owner_id == this.selectVal &&
                        new Date(item.date).getTime()>=from.getTime() && new Date(item.date).getTime()<=to.getTime()

                        );
                    });

                    let prev_array=this.dataarray.filter((item) => {
                    return (item.owner_id == this.selectVal &&
                        new Date(item.date).getTime()<from.getTime());
                    });

                    let after_array=this.dataarray.filter((item) => {
                    return (item.owner_id == this.selectVal &&
                        new Date(item.date).getTime()>to.getTime());
                    });

                    return this.calcResult(prev_array,mainArray,after_array)


                }
            


        },
        methods:{
            getMonthName(number){
                let month=[];
                month[0] = "January";
                month[1] = "February";
                month[2] = "March";
                month[3] = "April";
                month[4] = "May";
                month[5] = "June";
                month[6] = "July";
                month[7] = "August";
                month[8] = "September";
                month[9] = "October";
                month[10] = "November";
                month[11] = "December";
                return month[number];

            }
            ,
            getTypeUrl(text){
                if(text==='App\\PurchaseInvoice')
                    return 'purchase_invoice';
                else if (text==='App\\PurchaseReturn')
                    return 'purchase_return';
                else return 'company_payment';
            }
            ,
            dateSearch(){
                console.log('Called');
                if(!this.fromDate || !this.toDate)
                    return;
                else{
                    let from=new Date(this.fromDate);
                    let to=new Date(this.fromDate);
                    console.log('From '+ from +" To "+to);
                    return this.selectedArray.filter((item) => {
                        return (item.owner_id == this.selectVal &&
                            item.date>=from && item.date<=to

                        );
                    })
                }
            },

            parseDate(date){
                let month=date.getMonth()+1;
                return date.getDate()+('-')+month+'-'+date.getFullYear();
            }

            ,

            calcResult(prev_array,main_array,after_array){
                let balance=0;
                let prevCredit=0;
                let prevDebit=0;
                let openingAmount=0;
                let openingType="";
                let balanceDate='';
                let balanceLimit='';
                for(let enry in this.companies ){
                    let entry=this.companies[enry];
                    if(entry.id==this.selectVal){
                        if(entry.balance_type==1){
                            openingAmount=entry.balance_amount;
                            openingType='Credit'
                            prevCredit=openingAmount;
                            balance+=openingAmount
                            if(entry.balance_limit)
                                balanceLimit=entry.balance_limit
                            if(entry.balance_date)
                                balanceDate=entry.balance_date
                        }
                        else{
                             openingAmount=entry.balance_amount;
                            openingType='Debit';
                            prevDebit=openingAmount;
                            balance-=openingAmount;
                            if(entry.balance_limit)
                                balanceLimit=entry.balance_limit
                            if(entry.balance_date)
                                balanceDate=entry.balance_date
                        }
                        break;
                    }
                        
                }

                
                if(prev_array.length>0){
                    for(let enry in prev_array){
                        let entry=prev_array[enry]
                        if(entry.type==='debit'){
                            prevDebit+=entry.amount;
                            balance-=entry.amount;
                        }
                        else{ prevCredit+=entry.amount;balance+=entry.amount;}
                    }
                }
                let mainCredit=prevCredit;
                let mainDebit=prevDebit;
                let currentMonth=null;
                let monthCredit=0;
                let monthDebit=0;
                if(main_array.length>0){
                    currentMonth=new Date(main_array[0].date).getMonth();
                }
                for(let enry =0;enry<main_array.length;enry++){
                    let entry=main_array[enry];
                    if(entry.Type==='monthEnd' || entry.Type==='finalMonthEnd'){
                        continue;   
                     }

                     if(new Date(entry.date).getMonth()!=currentMonth){
                            let monthObj={
                                balance:main_array[enry-1].balance,
                                creditAmount:mainCredit,
                                debitAmount:mainDebit,
                                creditamount:main_array[enry-1].creditAmount,
                                debitamount:main_array[enry-1].debitAmount,
                                Type:'monthEnd',
                                month:currentMonth,
                                monthCredit:monthCredit,
                                monthDebit:monthDebit
                            }
                            main_array.splice(enry,0,monthObj);
                            currentMonth=new Date(entry.date).getMonth();
                            monthCredit=0;
                            monthDebit=0;
                             //enry++;
                            // entry=main_array[enry];
                            continue;
                    }
                    entry.creditAmount=0;
                    entry.debitAmount=0;
                    if(entry.type==='credit')
                       {    
                            entry.creditAmount=entry.amount;
                            entry.debitAmount='';
                            mainCredit+=entry.amount;
                            balance+=entry.amount;
                            entry.balance=balance;
                            monthCredit+=entry.amount;
                       }
                    else {
                        entry.debitAmount=entry.amount;
                        entry.creditAmount='';
                        mainDebit+=entry.amount;
                        balance-=entry.amount;
                        monthDebit+=entry.amount;
                        entry.balance=balance;
                    
                    }

                    if(enry==(main_array.length-1)){
                            console.log(`Balance is ${balance}`);
                        let monthObj={
                                balance:balance,
                                debitAmount:mainDebit,
                                creditAmount:mainCredit,
                                Type:'finalMonthEnd',
                                debitamount:entry.debitAmount,
                                creditamount:entry.creditAmount,
                                month:currentMonth,
                                monthCredit:monthCredit,
                                monthDebit:monthDebit
                            };
                            main_array.push(monthObj);
                            
                    }
                }
                let afterCredit=mainCredit;
                let afterDebit=mainDebit;
                // if(after_array.length>0){
                    
                //     for(let enry in after_array){
                //         let entry=after_array[enry]
                //         if(entry.type==='debit')
                //             {afterDebit+=entry.amount;balance-=entry.amount}
                //         else {afterCredit+=entry.amount;balance+=entry.amount}
                //     }
                // }

                var obj=new Object;
                obj.prevCredit=prevCredit;
                obj.prevDebit=prevDebit;
                obj.mainCredit=mainCredit;
                obj.mainDebit=mainDebit;
                
                obj.afterCredit=afterCredit;
                obj.afterDebit=afterDebit;
                obj.openingType=openingType;
                obj.openingAmount=openingAmount;
                obj.balance=balance*-1
                
                obj.balanceLimit=balanceLimit;
                obj.balanceDate=balanceDate;
                
                var mainObj=new Object;
                mainObj.stats=obj;
                mainObj.payments=main_array;
                console.log(mainObj);
                return this.mynew=mainObj;

            }

        }
    }
</script>

<style scoped>

.blue{
    background: #0056b3;
}
.blue td{
    color:white !important;
}


</style>