.page-content--bgf7{
  min-height: 80vh;
}
/*
.header__navbar{
    left:30% !important;
}
*/

#search-form{
    margin-right: 10px !important;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}