<template>
    <div id="tableID" class="table-responsive table-responsive-data2">

        <div v-if="loading" class="text-center">
            <beat-loader color="#0056b3" ></beat-loader>
        </div>

        <table v-if="!loading" class="table table-data2">
            <thead>
            <tr>
                <th>ID</th>
                <th>Invoice Date</th>
                <th>Customer Category</th>
                <th>Customer</th>
                <th>Customer Number</th>
                <th class="text-right">Total Bill</th>
                <th class="text-right">Paid</th>
                <th class="text-right">Balance</th>
                <th>Created By</th>
                <th ><span data-toggle="tooltip" data-placement="top" title="Simple/Order Booking Invoice">Type <i class="fa fa-question"></i></span></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="blue">
                <td colspan="5" class="text-right"><strong>Total :</strong></td>
                <td class="text-right">{{total.toLocaleString('en')}} /-</td>
                <td class="text-right">{{paid.toLocaleString('en')}} /-</td>
                <td class="text-right">{{balance.toLocaleString('en')}} /-</td>
                <td colspan="3"><button @click="fetchAll" class="btn btn-sm btn-light">Get All Sales Invoices</button></td>
            </tr>
            <tr v-for="sales_invoice in getSI" class="shadow" v-bind:class="{'red':!sales_invoice.allPaid}">
                 <td><a class="my-link" target="_blank" :href="'/admin/sales_invoice/'+sales_invoice.id">{{sales_invoice.id}}</a></td>
                <td>{{sales_invoice.date}}</td>
                <td>{{sales_invoice.cust}}</td>
                <td>{{sales_invoice.name}}</td>
                <td>{{sales_invoice.number}}</td>
                <td class="text-right">{{sales_invoice.total_price}} /-</td>
                <td class="text-right">{{sales_invoice.paid_amount}} /-</td>
                <td class="text-right">{{sales_invoice.Balance}} /-</td>
                <td>{{sales_invoice.user}}</td>

                <td>{{sales_invoice.order_booking_id?'Order Booking':'Simple'}}</td>
                <td>
                    <!--<a class="btn btn-info btn-sm" :href="'/admin/sales_invoice/'+sales_invoice.id">View</a>-->
                    <a target="_blank" class="btn btn-dark btn-sm" :href="'/admin/print_option/salesInvoice/'+sales_invoice.id"><i class="fa fa-print"></i></a>
                    <a target="_blank" class="btn btn-success btn-sm" :href="`/admin/customer_payment/create?si=${sales_invoice.id}`"><i class="fa fa-plus"></i> Pay</a>
                </td>


                <td>
                    <div class="table-data-feature">
                        <form :id="'del'+sales_invoice.id" :action="'/admin/sales_invoice/'+sales_invoice.id" method="POST">
                            <input name="_method" type="hidden" value="DELETE">
                            <input name="_token" type="hidden" :value="csrf">
                            <a href="#" :onclick="'clicked('+sales_invoice.id+')'"  class="sales_invoice" data-toggle="tooltip" data-placement="top" title="Delete">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                        </form>
                        <a target="_blank" :href="'/admin/sales_invoice/'+sales_invoice.id+'/edit'" class="sales_invoice" data-toggle="tooltip" data-placement="top" title="Edit">
                            <i class="zmdi zmdi-edit"></i>
                        </a>

                    </div>

                </td>
            </tr>


            </tbody>
        </table>
        <div v-if="newLoading" class="text-center">
            <beat-loader color="#0056b3" ></beat-loader>
        </div>

    </div>
</template>

<script>
    import BeatLoader from 'vue-spinner/src/BeatLoader.vue';
    import axios from 'axios';
    export default {
        name: "Old",
        components:{
            'beat-loader':BeatLoader
        },
        data(){
            return {
                page:1,
                loading:false,
                salesInvoices:[],
                total:0,
                paid:0,
                balance:0,
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                newLoading:false,
                query:''
            }
        },
        methods:{
          fetchAll(){
              console.log("Fetch All");
              this.loading=true;
              this.salesInvoices=[];
              axios.get('/api/sales-invoice-old')
                  .then(r=>{
                      this.salesInvoices=r.data.data;
                      this.paid=0;
                      this.total=0;
                      this.balance=0;
                      this.salesInvoices.forEach(item=>{
                          this.paid+=item.paid_amount;
                          this.total+=item.total_price;
                          this.balance+=item.Balance;
                      });
                      this.loading=false;
                      this.page++;
                  })
                  .catch(e=>{
                      console.log(e);
                      this.loading=false;
                  });
          }
        },
        computed:{
          getSI(){
              if(this.query.length<1)
                  return this.salesInvoices;
              else this.salesInvoices.filter(item=>{
                 return item.date.indexOf(this.query) !== 1;
              });
          }
        },
        created(){
            this.loading=true;
            axios.get('/api/sales-invoice-old-pagination?page='+this.page)
                .then(r=>{
                    this.salesInvoices=r.data.data;

                    this.salesInvoices.forEach(item=>{
                        this.paid+=item.paid_amount;
                        this.total+=item.total_price;
                        this.balance+=item.Balance;
                    });
                    this.loading=false;
                    this.page+=1;
                })
                .catch(e=>{
                    console.log(e);
                    this.loading=false;
                });
            $('#searchID').keyup(function () {
                if($('#nav-profile').hasClass('show')){
                    this.query=$('#searchID').val();
                }
            });
            window.onscroll = () => {
                let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;

                if (bottomOfWindow && $('#nav-profile').hasClass('show') && !this.newLoading) {
                    this.newLoading=true;
                    axios.get('/api/sales-invoice-old-pagination?page='+this.page)
                        .then(r=>{
                            let newSales=r.data.data;
                            console.log(newSales);
                            newSales.forEach(item=>{
                                this.paid+=item.paid_amount;
                                this.total+=item.total_price;
                                this.balance+=item.Balance;
                                this.salesInvoices.push(item);
                            });

                            this.newLoading=false;
                            this.page+=1;
                        })
                        .catch(e=>{
                            console.log(e);
                            this.newLoading=false;
                        });
                }
            };
        }
    }
</script>

<style scoped>

</style>