<template>
    <div id="tableID" class="table-responsive table-responsive-data2">
        <div v-if="loading" class="text-center">
            <beat-loader color="#0056b3" ></beat-loader>
        </div>
        <table v-if="!loading" class="table table-data2">
            <thead>
            <tr>
                <th>ID</th>
                <th>Order ID</th>
                <th>Invoice Date</th>
                <th>Customer Category</th>
                <th>Customer</th>
                <th>Customer Number</th>
                <th class="text-right">Total Bill</th>
                <th class="text-right">Paid</th>
                <th class="text-right">Balance</th>
                <th ><span data-toggle="tooltip" data-placement="top" title="Simple/Order Booking Invoice">Type <i class="fa fa-question"></i></span></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="sales_invoice in salesInvoices" class="shadow" v-bind:class="{'red':!sales_invoice.allPaid}">
                <td><a class="my-link" target="_blank" :href="'/admin/sales_invoice/'+sales_invoice.id">{{sales_invoice.id}}</a></td>
                <td>{{sales_invoice.order_booking_id}}</td>
                <td>{{sales_invoice.date}}</td>
                <td>{{sales_invoice.cust}}</td>
                <td>{{sales_invoice.name}}</td>
                <td>{{sales_invoice.number}}</td>
                <td class="text-right">{{sales_invoice.total_price}} /-</td>
                <td class="text-right">{{sales_invoice.paid_amount}} /-</td>
                <td class="text-right">{{sales_invoice.Balance}} /-</td>

                <td>{{sales_invoice.order_booking_id?'Order Booking':'Simple'}}</td>
                <td>
<!--
                    <a class="btn btn-info btn-sm" :href="'/admin/sales_invoice/'+sales_invoice.id">View</a>
-->
                    <a target="_blank" class="btn btn-dark btn-sm" :href="'/admin/print_option/salesInvoice/'+sales_invoice.id">Print</a></td>


                <td>
                    <div class="table-data-feature">
                        <form :id="'del'+sales_invoice.id" :action="'/admin/sales_invoice/'+sales_invoice.id" method="POST">
                            <input name="_method" type="hidden" value="DELETE">
                            <input name="_token" type="hidden" :value="csrf">
                            <a href="#" :onclick="'clicked('+sales_invoice.id+')'"  class="sales_invoice" data-toggle="tooltip" data-placement="top" title="Delete">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                        </form>
                        <a target="_blank"  :href="'/admin/sales_invoice/'+sales_invoice.id+'/edit'" class="sales_invoice" data-toggle="tooltip" data-placement="top" title="Edit">
                            <i class="zmdi zmdi-edit"></i>
                        </a>

                    </div>

                </td>
            </tr>

            <tr class="blue">
                <td colspan="5" class="text-right"><strong>Total :</strong></td>
                <td class="text-right">{{total.toLocaleString('en')}} /-</td>
                <td class="text-right">{{paid.toLocaleString('en')}} /-</td>
                <td class="text-right">{{balance.toLocaleString('en')}} /-</td>
                <td colspan="2"></td>
            </tr>
            </tbody>
        </table>

    </div>
</template>

<script>
    import BeatLoader from 'vue-spinner/src/BeatLoader.vue';
    import axios from 'axios';
    export default {
        name: "SalesInvoicesToday",
        components:{
            'beat-loader':BeatLoader
        },
        data(){
            return {
                loading:false,
                salesInvoices:[],
                total:0,
                paid:0,
                balance:0,
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            }
        },
        created(){
            this.loading=true;
            axios.get('/api/sales-invoice-order-booking')
                .then(r=>{
                    this.salesInvoices=r.data.data;

                    this.salesInvoices.forEach(item=>{
                        this.paid+=item.paid_amount;
                        this.total+=item.total_price;
                        this.balance+=item.Balance;
                    });
                    this.loading=false;
                })
                .catch(e=>{
                    console.log(e);
                    this.loading=false;
                })
        }
    }
</script>

<style scoped>

</style>