<template>
    <div class="row">
        <div class="col-md-12">
            <!--Inputs Row-->
            <div class="row">
                <div class="col-md-1">
                    Company
                </div>
                <div class="col-md-2">
                    <select class="form-control-sm" v-model="companyId"  >
                        <option v-if="companyLoading">Loading....</option>
                        <option v-for="company in companies" :value="company.id">{{company.name}}</option>
                    </select>
                </div>
                <div class="col-md-1">
                    Quality
                </div>
                <div class="col-md-4">
                    <div v-if="!qualityLoading && qualities.length<1 && companies.length>0" class="alert alert-warning">No Qualities</div>
                   <!-- <select multiple v-if="!qualityLoading && qualities.length>0 && companies.length>0" class="form-control-sm" v-model="qualityId"  >
                        <option v-if="qualityLoading">Loading....</option>
                        <option v-for="quality in qualities" :value="quality.id">{{quality.name}}</option>
                    </select>-->
                    <multiselect  :custom-label="customLabel" track-by="id"  v-model="qualityId" :options="qualities" :multiple="true">

                        <template slot="singleLabel" slot-scope="props">{{props.option.name}}</template>
                        <template slot="option" slot-scope="props">{{props.option.name}}</template>
                    </multiselect>
                </div>

                <div class="col-md-2">
                    From
                    <input class="form-control-sm" v-model="fromDate" type="date">
                </div>
                <div class="col-md-2">
                    To
                    <input class="form-control-sm" v-model="toDate" type="date">
                </div>
            </div>

            <!--Table Row-->
            <div v-if="itemLoading" class="row">
                <div class="col-md-12 text-center">Loading....</div>
            </div>
            <div v-if="canFetchItems()  && !itemLoading" class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table table-borderless  table-sm">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Quality</th>
                            <th>Item</th>
                            <th>Quantity Purchases</th>
                            <th>Total Amount</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr class="blue">
                            <td colspan="3">Total</td>
                            <td>{{data.quantity}}</td>
                            <td>{{data.total.toLocaleString()}}</td>
                        </tr>

                        <tr v-for="item in data.data">
                            <td>{{item.id}}</td>
                            <td>{{item.qualityName}}</td>
                            <td><a target="_blank" :href="`/admin/item/${item.id}`">{{item.name}}</a></td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.total.toLocaleString()}}</td>
                        </tr>
                        <tr class="blue">
                            <td colspan="3">Total</td>
                            <td>{{data.quantity}}</td>
                            <td>{{data.total.toLocaleString()}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>


    </div>


    
</template>

<script>
    import BeatLoader from 'vue-spinner/src/BeatLoader.vue';

    export default {
        name: "PurchaseReportItemSummary",
        component:{
            'beat-loader':BeatLoader,
        },
        data(){
            return {
                companies:[],
                qualities:[],
                companyId:null,
                qualityId:[],
                companyLoading:false,
                qualityLoading:false,
                itemLoading:false,
                fromDate:"",
                toDate:"",
                data:[]
            }
        },
        methods:{
            getCompanies(){
                this.companyLoading=true;
                axios.get('/api/get-companies')
                    .then(r=>{
                        this.companyLoading=false;
                        this.companies=r.data;
                        this.companyId=this.companies[0].id;
                        this.getQualities();
                    })
            },
            getQualities(){
                this.data=[];
                this.qualities=[];
                this.qualityId=[];
                this.qualityLoading=true;
                axios.get(`/api/get-qualities-by-company/${this.companyId}`)
                    .then(r=>{
                        this.qualityLoading=false;
                        this.qualities=r.data;
                        if(this.qualityId.findIndex(item=>item.id===r.data[0].id)<0)
                            this.qualityId.push(this.qualities[0]);
                       //this.qualityId=this.qualities[0];
                        //this.qualityId.push(this.qualities[0]);
                    })
                    .catch(e=>{
                        this.qualityLoading=false;
                    })
            },
            getItems(){
                if(!this.canFetchItems())
                    return;

                let qualities= [];
                this.qualityId.forEach(e=>{
                   qualities.push(e.id);
                });
                let data = {
                    company_id:this.companyId,
                    quality_id:qualities,
                    fromDate:this.fromDate,
                    toDate :this.toDate
                };
                this.itemLoading=true;
                axios.post(`/admin/purchase-report-item-summary`,data)
                    .then(r=>{
                        this.itemLoading=false;
                        this.data=r.data;
                    })
                    .catch(e=>{
                        this.itemLoading=false;
                    })
            },
            canFetchItems(){
                if(this.qualityId!=null && this.companyId!=null && this.fromDate.length>0 && this.toDate.length>0)
                    return true;
                return false;
            },
            qualitiesToString(values){
                let str=[];
                values.each(()=>{
                    str.push(values.name)
                });
                return str.toString();
            },
            customLabel(option){
                return option.name
            }
        },
        created() {
            this.getCompanies();
        },
        watch:{
            companyId(newVal,oldVal){
                this.data=[];
                if(newVal!==oldVal)
                    this.getQualities();
            },
            qualityId(newVal,oldVal){
                this.data=[];
                if(newVal!=null)
                    this.getItems();
            },
            fromDate(newVal,oldVal){
                this.data=[];
                if(newVal!=null)
                    this.getItems();
            },
            toDate(newVal,oldVal){
                this.data=[];
                if(newVal!=null)
                    this.getItems();
            }
        }
    }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>
    .form-control-sm{
        border: 1px solid #ced4da;
        max-width: 100% !important;
    }

    .alert{
        height: calc(1.8125rem + 2px);
        padding:0;
        padding-left: 4px;
    }
    .blue{
        background: #0056b3
    }
    .blue td{
        color:white;
    }
</style>